@import "./src/public/css/common";
@import "./src/public/css/header";
@import "./src/public/css/footer";
.list-container{
  @extend %page;
  .banner{
    position: relative;
    width: 100%;
    padding-bottom: calc(520/1920*100%);
    .inner{
      position: absolute;
      width: 100%;
      height: 100%;
      .swiper-container{
        width: 100%;
        height: 100%;
        .l-items{
          display: block;
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .swiper-button-prev.swiper-button-333,
        .swiper-container-rtl .swiper-button-next.swiper-button-333 {
          width: 28px;
          height: 50px;
          left: 150px;
          right: auto;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23333333'%2F%3E%3C%2Fsvg%3E");
          background-size: 28px 50px;
        }
        .swiper-button-next.swiper-button-333,
        .swiper-container-rtl .swiper-button-prev.swiper-button-333 {
          width: 28px;
          height: 50px;
          left: auto;
          right: 150px;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23333333'%2F%3E%3C%2Fsvg%3E");
          background-size: 28px 50px;
        }
        .swiper-pagination-bullets{
          bottom: 47px;
        }
        .swiper-pagination-bullet{
          display: inline-block;
          width: 44px;
          height: 3px;
          margin: 0 5px;
          border-radius: 0;
          background: $color-999;
          opacity: 1;
        }
        .swiper-pagination-bullet-active{
          background: $color-white;
        }
      }
    }
  }
  .main{
    width: $pahe-width-base;
    margin: 0 auto;
    .condition{
      width: 100%;
      margin-bottom: calc(30/1400*100%);
      .con{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: calc(12/1400*100%) 0;
        border-bottom: 1px solid $color-e6e6e6;
        .t{
          -moz-box-flex: 1.0; /* Firefox */
          -webkit-box-flex: 1.0; /* Safari 和 Chrome */
          box-flex: 1.0;
          font-size: $font-size-t14;
          line-height: 14px;
          color: $color-999;
          margin-right: calc(20/1400*100%);
          width: calc(80/1400*100%);
        }
        .r{
          -moz-box-flex: 1.0; /* Firefox */
          -webkit-box-flex: 1.0; /* Safari 和 Chrome */
          box-flex: 1.0;
          width: calc(1300/1400*100%);
          .chosen{
            position: relative;
            display: inline-block;
            font-size: $font-size-t14;
            line-height: 14px;
            color: $color-333;
            border: 1px solid $color-8B572A;
            border-radius: 4px;
            padding: 4px 24px 4px 5px;
            margin-right: 10px;
            .fork{
              position: absolute;
              top: 50%;
              right: 5px;
              transform: translateY(-50%);
              display: inline-block;
              width: 16px;
              height: 16px;
              background: url("../../../../public/img/fork.png") no-repeat center center;
              background-size: 16px 16px;
            }
          }
          .l{
            display: inline-block;
            font-size: $font-size-t14;
            line-height: 24px;
            color: $color-333;
            margin-right: 20px;
            &:hover{
              color: $color-8B572A;
            }
          }
          .l.linked{
            color: $color-8B572A;
          }
          .sels{
            position: relative;
            display: inline-block;
            font-size: 0;
            .sel{
              position: relative;
              display: inline-block;
              z-index: 1;
              height: 28px;
              border-top: 1px solid $color-e6e6e6;
              border-left: 1px solid $color-e6e6e6;
              border-right: 1px solid $color-e6e6e6;
              border-bottom: 1px solid $color-e6e6e6;
              margin-right: -1px;
              .txt{
                position: relative;
                display: inline-block;
                background-color: $color-white;
                font-size: $font-size-t14;
                line-height: 28px;
                color: $color-333;
                padding: 0 20px 0 10px;
                &:before{
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 0;
                  width: 20px;
                  height: 100%;
                  background: url("../../../../public/img/n_minus.png") no-repeat center center;
                  background-size: 5px 5px;
                }
              }
              .pop-con{
                display: none;
                position: absolute;
                left: -1px;
                top: 28px;
                z-index: 2;
                border: 1px solid $color-8B572A;
                width: 400px;
                line-height: 14px;
                background-color: $color-white;
                color: $color-333;
                font-size: $font-size-t14;
                padding: 15px 0 0 15px;
                .p-items{
                  display: inline-block;
                  margin: 0 15px 15px 0;
                  width: 60px;
                  &:hover{
                    color: $color-8B572A;
                  }
                }
                .p-items.linked{
                  color: $color-8B572A;
                }
              }
              &:hover{
                border-top: 1px solid $color-8B572A;
                border-left: 1px solid $color-8B572A;
                border-right: 1px solid $color-8B572A;
                border-bottom: 1px solid $color-white;
                z-index: 2;
                .txt{
                  &:before{
                    background: url("../../../../public/img/n_add.png") no-repeat center center;
                  }
                  &:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    z-index: 3;
                    width: 100%;
                    height: 1px;
                    background-color: $color-white;
                  }
                }
                .pop-con{
                  display: block;
                }
              }

            }
          }
        }

      }
    }
    .pro-list{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: calc(50/1400*100%);
      .pro-items{
        -moz-box-flex: 1.0; /* Firefox */
        -webkit-box-flex: 1.0; /* Safari 和 Chrome */
        box-flex: 1.0;
        width: calc(344/1400*100%);
        .link{
          display: block;
          width: 100%;
          background-color: $color-fafafa;
          text-align: center;
          .img-contanier{
            position: relative;
            display: block;
            width: 100%;
            padding-bottom: 100%;
            .pro-img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
          .title{
            width: 92%;
            margin: 0 auto;
            display: block;
            text-align: left;
            color: $color-333;
            font-size: $font-size-t16;
            line-height: 22px;
            padding: calc(20/344*100%) 0 calc(8/344*100%) 0;
          }
          .vtitle{
            width: 92%;
            margin: 0 auto;
            display: block;
            text-align: left;
            color: $color-999;
            font-size: $font-size-t16;
            line-height: 22px;
            padding-bottom: calc(20/344*100%);
          }
        }
        .link:hover{
          background-color: $color-fafafa;
          .pro-img{
            opacity: .9;
          }
          .title{
            color: $color-8B572A;
          }
          .vtitle{
            color: $color-444;
          }
        }
      }
    }
    .pager{
      width: 100%;
      text-align: center;
      margin: 50px 0;
      .links{
        display: inline-block;
        width: 36px;
        height: 36px;
        margin: 0 5px;
        line-height: 36px;
        background: $color-white;
        border: 1px solid $color-ebebeb;
        color: $color-999;
        font-size: $font-size-t14;
        &:hover{
          background: $color-333;
          color: $color-white;
          border: 1px solid $color-333;
        }
      }
      .links.active{
        background: $color-333;
        color: $color-white;
        border: 1px solid $color-333;
      }
    }
  }
}