<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>index</title>
  </head>
  <body>
    <div class="list-container">
      <div class="header">
        <section class="head">
          <div class="inner">
            <div class="l">
              <a href="javascript:;" class="title">方寸堂，不止不同</a>
              <a href="javascript:;" class="tip">防咋骗公告</a>
            </div>
            <!--            <div class="r">
                          <a href="javascript:;" class="js-pop-login items">登录</a>
                          <a href="javascript:;" class="js-pop-reg items">注册</a>
                          <a href="javascript:;" class="items">我的订单</a>
                        </div>-->
            <div class="r">
              <div class="manage items">
                <a href="javascript:;" class="shop-name">店铺xxxx</a>
                <span class="h-l">
                  <a href="javascript:;" class="ls">我的拍卖</a>
                  <a href="javascript:;" class="ls">我的钱包</a>
                  <a href="javascript:;" class="ls">我的收藏</a>
                  <a href="javascript:;" class="ls">地址管理</a>
                  <a href="javascript:;" class="ls">退出</a>
                </span>
              </div>
              <a href="javascript:;" class="items">店长管理</a>
              <a href="javascript:;" class="items">我的订单</a>
              <a href="javascript:;" class="items">会员中心</a>
              <a href="javascript:;" class="items">帮助中心</a>
            </div>
          </div>
        </section>
        <section class="logo">
          <div class="search-container">
            <input type="text" class="search" placeholder="宝贝名称 守艺人名字 壶型">
            <a href="javascript:;" class="sub">&nbsp;</a>
            <p></p>
          </div>
        </section>
        <ul class="tabs">
          <li class="items chosen">
            <a href="javascript:;" class="l">首页</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">紫砂商城</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">紫砂艺人</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">紫砂拍卖</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">线下门店</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">关于品牌</a>
          </li>
        </ul>
      </div>
      <section class="banner">
        <div class="inner">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/b_1.png" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/b_2.png" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/b_3.png" alt="">
                </a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev swiper-button-333"></div>
            <div class="swiper-button-next swiper-button-333"></div>
          </div>
        </div>
      </section>
      <section class="main">
        <div class="condition">
          <div class="con">
            <div class="t">您已选择</div>
            <div class="r">
              <div class="chosen">全部<a href="javascript:;" class="fork">&nbsp;</a></div>
              <div class="chosen">最新上架<a href="javascript:;" class="fork">&nbsp;</a></div>
              <div class="chosen">人气最高<a href="javascript:;" class="fork">&nbsp;</a></div>
            </div>
          </div>
          <div class="con">
            <div class="t">分类</div>
            <div class="r">
              <a href="javascript:;" class="l linked">全部</a>
              <a href="javascript:;" class="l">最新上架</a>
              <a href="javascript:;" class="l">人气最高</a>
            </div>
          </div>
          <div class="con">
            <div class="t">形状</div>
            <div class="r">
              <div class="sels">
                <div class="sel">
                  <div class="txt">圆器</div>
                  <div class="pop-con">
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西西施施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                  </div>
                </div>
                <div class="sel">
                  <div class="txt">方器</div>
                  <div class="pop-con">
                    <a href="javascript:;" class="p-items overText">西西施施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                  </div>
                </div>
                <div class="sel">
                  <div class="txt">花器</div>
                  <div class="pop-con">
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                  </div>
                </div>
                <div class="sel">
                  <div class="txt">筋纹器</div>
                  <div class="pop-con">
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                    <a href="javascript:;" class="p-items overText">西施</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="con">
            <div class="t">作者</div>
            <div class="r">
              <a href="javascript:;" class="l">沈建宏</a>
              <a href="javascript:;" class="l">许兵</a>
              <a href="javascript:;" class="l">许嘉年</a>
              <a href="javascript:;" class="l">陈少霆</a>
              <a href="javascript:;" class="l">路成程</a>
              <a href="javascript:;" class="l">酒虎</a>
              <a href="javascript:;" class="l">张士美</a>
              <a href="javascript:;" class="l">沈建宏</a>
              <a href="javascript:;" class="l">许兵</a>
              <a href="javascript:;" class="l">许嘉年</a>
              <a href="javascript:;" class="l">陈少霆</a>
              <a href="javascript:;" class="l">路成程</a>
              <a href="javascript:;" class="l">酒虎</a>
              <a href="javascript:;" class="l">张士美</a>
              <a href="javascript:;" class="l">沈建宏</a>
              <a href="javascript:;" class="l">许兵</a>
              <a href="javascript:;" class="l">许嘉年</a>
              <a href="javascript:;" class="l">陈少霆</a>
              <a href="javascript:;" class="l">路成程</a>
              <a href="javascript:;" class="l">酒虎</a>
              <a href="javascript:;" class="l">张士美</a>
              <a href="javascript:;" class="l">沈建宏</a>
              <a href="javascript:;" class="l">许兵</a>
              <a href="javascript:;" class="l">许嘉年</a>
              <a href="javascript:;" class="l">陈少霆</a>
              <a href="javascript:;" class="l">路成程</a>
              <a href="javascript:;" class="l">酒虎</a>
              <a href="javascript:;" class="l">张士美</a>
            </div>
          </div>
          <div class="con">
            <div class="t">价格</div>
            <div class="r">
              <a href="javascript:;" class="l">由低到高</a>
              <a href="javascript:;" class="l">由高到低</a>
            </div>
          </div>
          <div class="con">
            <div class="t">容量</div>
            <div class="r">
              <a href="javascript:;" class="l">100cc以下</a>
              <a href="javascript:;" class="l">101-150cc</a>
              <a href="javascript:;" class="l">400cc以上</a>
            </div>
          </div>
        </div>
        <ul class="pro-list">
          <li class="pro-items">
            <a href="javascript:;" class="link">
              <span class="img-contanier">
                <img src="../../../public/img/test5.png" class="pro-img">
              </span>
              <span class="text-contanier">
                <span class="title overText">《壶的名字》作者名字 280CC</span>
                <span class="vtitle overTextH2">副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳</span>
              </span>
            </a>
          </li>
          <li class="pro-items">
            <a href="javascript:;" class="link">
              <span class="img-contanier">
                <img src="../../../public/img/test5.png" class="pro-img">
              </span>
              <span class="text-contanier">
                <span class="title overText">《壶的名字》作者名字 280CC</span>
                <span class="vtitle overTextH2">副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳</span>
              </span>
            </a>
          </li>
          <li class="pro-items">
            <a href="javascript:;" class="link">
              <span class="img-contanier">
                <img src="../../../public/img/test5.png" class="pro-img">
              </span>
              <span class="text-contanier">
                <span class="title overText">《壶的名字》作者名字 280CC</span>
                <span class="vtitle overTextH2">副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳</span>
              </span>
            </a>
          </li>
          <li class="pro-items">
            <a href="javascript:;" class="link">
              <span class="img-contanier">
                <img src="../../../public/img/test5.png" class="pro-img">
              </span>
              <span class="text-contanier">
                <span class="title overText">《壶的名字》作者名字 280CC</span>
                <span class="vtitle overTextH2">副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳</span>
              </span>
            </a>
          </li>
          <li class="pro-items">
            <a href="javascript:;" class="link">
              <span class="img-contanier">
                <img src="../../../public/img/test5.png" class="pro-img">
              </span>
              <span class="text-contanier">
                <span class="title overText">《壶的名字》作者名字 280CC</span>
                <span class="vtitle overTextH2">副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳</span>
              </span>
            </a>
          </li>
          <li class="pro-items">
            <a href="javascript:;" class="link">
              <span class="img-contanier">
                <img src="../../../public/img/test5.png" class="pro-img">
              </span>
              <span class="text-contanier">
                <span class="title overText">《壶的名字》作者名字 280CC</span>
                <span class="vtitle overTextH2">副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳副标题壶的特点制作特色卖点等一行最佳</span>
              </span>
            </a>
          </li>
        </ul>
        <div class="pager">
          <a href="javascript:;" class="links">&lt;</a>
          <a href="javascript:;" class="links active">1</a>
          <a href="javascript:;" class="links">2</a>
          <a href="javascript:;" class="links">3</a>
          <a href="javascript:;" class="links">...</a>
          <a href="javascript:;" class="links">50</a>
          <a href="javascript:;" class="links">&gt;</a>
        </div>
      </section>
      <footer class="footer">
        <div class="top">
          <div class="inner">
            <div class="its l"><span class="text">原创+限量</span></div>
            <div class="its c"><span class="text">标价+规范</span></div>
            <div class="its r"><span class="text">保值+受益</span></div>
          </div>
        </div>
        <div class="bottom">
          <div class="inner">
            <div class="its">
              <p class="copyright">
                Copyright&nbsp&copy;&nbsp;2018&nbsp;宜兴方寸堂文化传媒有限公司版权所有</p>
              <p class="copyright-b">苏公安备32028202000436号&nbsp;苏ICP备14043090号-4</p>
              <p class="copyright-b">联系电话：<a href="tel:051087410606" class="call">0510-87410606</a></p>
            </div>
            <div class="its">
              <p class="shop">门店</p>
              <p class="addrs">宜兴市丁蜀镇陶瓷城E区2834号</p>
              <p class="addrs">上海市闵行区北松公路58号</p>
              <p class="addrs">西安市莲湖区西市中路西市佳园7号楼10105号</p>
            </div>
            <div class="its">
              <div class="qrcode">扫一扫关注我们</div>
            </div>
          </div>
        </div>
      </footer>
	</div>
    <!-- built files will be auto injected -->
    <script>
        let config = {
            'code_url': '',
            'login_url': '',
            'gt_url': 'http://test.pc.fangcun.com/geetest',
            'gt_product': '',
            'gt_lang': '',
            'gt_http': ''
        };

    </script>
  </body>
</html>
