@import "./src/public/css/common";
.m{
  font-size: 12px;
  .l{
    width: 100%;
  }
}
/*.index-container{
  font-size: 24px;
  background: url("../../../../public/img/logo2.png") no-repeat center center;
  background-size: 50px 50px;
  .img{
    width: 50%;
  }
}*/

