<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title> 优惠券测试 </title>
  </head>
  <body>
    <div id="app">
        <div class="coupon-wrapper">
            <h3>京东优惠领取：</h3>
            <div class="coupon-item">
                <div class="style-one">
                    <div class="info-box">
                        <p class="nick">京东平台优惠?</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>立即领取</span>
                    </a>
                </div>
            </div>
            <div class="coupon-item">
                <div class="style-one have">
                    <div class="info-box">
                        <p class="nick">京东平台优惠?</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>已领取</span>
                    </a>
                </div>
            </div>
            <h3>唯品会优惠?领取：</h3>
            <div class="coupon-item">
                <div class="style-two">
                    <div class="info-box">
                        <p class="nick">唯品会平台优惠?</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>立即领取</span>
                    </a>
                </div>
            </div>
            <div class="coupon-item">
                <div class="style-two have">
                    <div class="info-box">
                        <p class="nick">唯品会平台优惠?</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>已领取</span>
                    </a>
                </div>
            </div>
            <h3>1号店优惠?领取：</h3>
            <div class="coupon-item">
                <div class="style-three">
                    <div class="info-box">
                        <p class="nick">1号店平台优惠券</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>点击领取</span>
                    </a>
                </div>
            </div>
            <div class="coupon-item">
                <div class="style-three have">
                    <div class="info-box">
                        <p class="nick">1号店平台优惠券</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>已领取</span>
                    </a>
                </div>
            </div>
            <h3>当当网优惠券领取：</h3>
            <div class="coupon-item">
                <div class="style-four">
                    <div class="info-box">
                        <p class="nick">当当网平台优惠券</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span class="coBlack">立即领取</span>
                    </a>
                </div>
            </div>
            <div class="coupon-item">
                <div class="style-four have">
                    <div class="info-box">
                        <p class="nick">当当网平台优惠券</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>已领取</span>
                    </a>
                </div>
            </div>
            <h3>飞牛网优惠?领取：</h3>
            <div class="coupon-item">
                <div class="style-five">
                    <div class="info-box">
                        <p class="nick">飞牛网平台优惠券</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>立即领取</span>
                    </a>
                </div>
            </div>
            <div class="coupon-item">
                <div class="style-five have">
                    <div class="info-box">
                        <p class="nick">飞牛网平台优惠券</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>已领取</span>
                    </a>
                </div>
            </div>
            <h3>我买网优惠?领取：</h3>
            <div class="coupon-item">
                <div class="style-six">
                    <div class="info-box">
                        <p class="nick">我买网平台优惠券</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>点击领取</span>
                    </a>
                </div>
            </div>
            <div class="coupon-item">
                <div class="style-six have">
                    <div class="info-box">
                        <p class="nick">我买网平台优惠券</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>已领取</span>
                    </a>
                </div>
            </div>
            <h3>苏宁优惠?领取：</h3>
            <div class="coupon-item">
                <div class="style-seven">
                    <div class="info-box">
                        <p class="nick">苏宁平台优惠券</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>立即领取</span>
                    </a>
                </div>
            </div>
            <div class="coupon-item">
                <div class="style-seven have">
                    <div class="info-box">
                        <p class="nick">苏宁平台优惠券</p>
                        <div class="coupon-money">
                            <div class="lay of">￥<em>10</em></div>
                            <div class="lay">
                                <p class="tit">优惠?</p>
                                <p class="demand">满100元可用</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="get-btn">
                        <span>已领取</span>
                    </a>
                </div>
            </div>
        </div>
	</div>
    <!-- built files will be auto injected -->
  </body>
</html>
