@import "./src/public/css/common";
@import "./src/public/css/header";
@import "./src/public/css/footer";
.artist-container{
  @extend %page;
  .banner{
    position: relative;
    width: 100%;
    padding-bottom: calc(520/1920*100%);
    .inner{
      position: absolute;
      width: 100%;
      height: 100%;
      .swiper-container{
        width: 100%;
        height: 100%;
        .l-items{
          display: block;
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .swiper-button-prev.swiper-button-333,
        .swiper-container-rtl .swiper-button-next.swiper-button-333 {
          width: 28px;
          height: 50px;
          left: 150px;
          right: auto;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23333333'%2F%3E%3C%2Fsvg%3E");
          background-size: 28px 50px;
        }
        .swiper-button-next.swiper-button-333,
        .swiper-container-rtl .swiper-button-prev.swiper-button-333 {
          width: 28px;
          height: 50px;
          left: auto;
          right: 150px;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23333333'%2F%3E%3C%2Fsvg%3E");
          background-size: 28px 50px;
        }
        .swiper-pagination-bullets{
          bottom: 47px;
        }
        .swiper-pagination-bullet{
          display: inline-block;
          width: 44px;
          height: 3px;
          margin: 0 5px;
          border-radius: 0;
          background: $color-999;
          opacity: 1;
        }
        .swiper-pagination-bullet-active{
          background: $color-white;
        }
      }
    }
  }
  .act{
    position: relative;
    width: 1090px;
    margin: calc(47/1920*100%) auto;
    .title{
      position: relative;
      width: $pahe-width-base;
      margin: 0 auto calc(16/1400*100%);
      .m{
        margin-right: 16px;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        font-size: $font-size-t26;
        color: $color-333;
      }
      .s{
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: $font-size-t12;
        color: $color-929BB6;
      }
      .more{
        position: absolute;
        right: 0;
        top: 50%;
        display: inline-block;
        padding-right: 22px;
        transform: translateY(-50%);
        font-size: $font-size-t16;
        line-height: 22px;
        background: url("../../../../public/img/more.png") no-repeat center right;
        background-size: 16px 16px;
      }
    }
    .main{
      width: 100%;
      .items{
        position: relative;
        width: 100%;
        margin-bottom: calc(30/1400*100%);
        .photo-container{
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          display: inline-block;
          width: calc(180/1400*100%);
          padding-bottom: calc(200/1400*100%);
          .photo{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
        .content{
          position: relative;
          display: inline-block;
          width: calc(1247/1400*100%);
          margin-left: calc(154/1400*100%);
          margin-top: calc(40/1400*100%);
          padding-bottom: calc(180/1400*100%);
          background: rgba(201,159,79,0.05);
          .inner{
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            .ti{
              display: inline-block;
              margin-top: calc(20/1400*100%);
              margin-left: calc(42/1247*100%);
              font-size: $font-size-t20;
              color: $color-333;
              letter-spacing: 0;
              line-height: 20px;
            }
            .vti{
              display: inline-block;
              margin-left: calc(10/1247*100%);
              font-size: $font-size-t14;
              color: $color-ccc;
              letter-spacing: 0;
              line-height: 14px;
            }
            .msg{
              display: block;
              margin-top: calc(12/1400*100%);
              margin-left: calc(42/1247*100%);
              margin-right: calc(32/1247*100%);
              font-size: $font-size-t14;
              color: $color-C99F4F;
              letter-spacing: 0;
            }
            .intro{
              margin-top: calc(12/1400*100%);
              margin-left: calc(42/1247*100%);
              margin-right: calc(32/1247*100%);
              font-size: $font-size-t14;
              color: $color-2a2a2a;
              letter-spacing: 0;
              line-height: 20px;
            }
          }
        }
        .works{
          display: block;
          margin-left: calc(154/1400*100%);
          margin-top: calc(-20/1400*100%);
          width: calc(1163/1400*100%);
          padding: 0 calc(42/1400*100%);
          .works-item{
            display: inline-block;
            width: calc(120/1163*100%);
            margin-right: calc(40/1163*100%);
            .w-l-container{
              position: relative;
              display: inline-block;
              width: 100%;
              padding-bottom: 100%;
              .w-l{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
            .w-l-ti{
              display: block;
              margin-top: calc(8/120*100%);;
              width: 100%;
              font-size: $font-size-t14;
              color: $color-333;
              letter-spacing: 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
}