<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>index</title>
  </head>
  <body>
    <div class="artist-container">
      <div class="header">
        <section class="head">
          <div class="inner">
            <div class="l">
              <a href="javascript:;" class="title">方寸堂，不止不同</a>
              <a href="javascript:;" class="tip">防咋骗公告</a>
            </div>
            <div class="r">
              <a href="javascript:;" class="js-pop-login items">登录</a>
              <a href="javascript:;" class="js-pop-reg items">注册</a>
              <a href="javascript:;" class="items">我的订单</a>
            </div>
            <!--<div class="r">
              <div class="manage items">
                <a href="javascript:;" class="shop-name">店铺xxxx</a>
                <span class="h-l">
                  <a href="javascript:;" class="ls">我的拍卖</a>
                  <a href="javascript:;" class="ls">我的钱包</a>
                  <a href="javascript:;" class="ls">我的收藏</a>
                  <a href="javascript:;" class="ls">地址管理</a>
                  <a href="javascript:;" class="ls">退出</a>
                </span>
              </div>
              <a href="javascript:;" class="items">店长管理</a>
              <a href="javascript:;" class="items">我的订单</a>
              <a href="javascript:;" class="items">会员中心</a>
              <a href="javascript:;" class="items">帮助中心</a>
            </div>-->
          </div>
        </section>
        <section class="logo">
          <div class="search-container">
            <input type="text" class="search" placeholder="宝贝名称 守艺人名字 壶型">
            <a href="javascript:;" class="sub">&nbsp;</a>
            <p></p>
          </div>
        </section>
        <ul class="tabs">
          <li class="items chosen">
            <a href="javascript:;" class="l">首页</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">紫砂商城</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">紫砂艺人</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">紫砂拍卖</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">线下门店</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">关于品牌</a>
          </li>
        </ul>
      </div>
      <section class="banner">
        <div class="inner">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/b_1.png" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/b_2.png" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/b_3.png" alt="">
                </a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev swiper-button-333"></div>
            <div class="swiper-button-next swiper-button-333"></div>
          </div>
        </div>
      </section>
      <section class="act">
        <div class="title">
          <span class="m">守艺人</span><span class="s">60+位入驻守艺人</span>
          <a href="javascript:;" class="more">更多守艺人</a>
        </div>
        <div class="main">
          <div class="items">
            <span class="photo-container">
              <img src="../../../public/img/test6.png" class="photo">
            </span>
            <span class="content">
              <span class="inner">
                <span class="ti">惠荣</span><span class="vti">Hui Rong</span>
                <span class="msg">“我并非十分聪明，但我十分努力和坚持。”</span>
                <span class="intro overTextH2">1985年出生的他有一颗创作的心，师承中青辈实力派沈建宏老师，2004年开始接触紫砂文化，之后一发不可收拾，深深的对紫砂文化开始着迷。
迄今为止，紫砂壶陪伴自己已经有14年了，整个青春都给了紫砂这份事业。之后，跟随师父沈建宏加入方寸堂，与众多同样有着紫砂梦想的年轻人一起奋斗。</span>
              </span>
            </span>
            <span class="works">
              <span class="works-item">
                <span class="w-l-container">
                  <img src="../../../public/img/test6.png" class="w-l">
                </span>
                <span class="w-l-ti overText">《主慕古子冶》</span>
              </span>
              <span class="works-item">
                <span class="w-l-container">
                  <img src="../../../public/img/test6.png" class="w-l">
                </span>
                <span class="w-l-ti overText">《主慕古子冶》</span>
              </span>
              <span class="works-item">
                <span class="w-l-container">
                  <img src="../../../public/img/test6.png" class="w-l">
                </span>
                <span class="w-l-ti overText">《主慕古子冶》</span>
              </span>
            </span>
          </div>
          <div class="items">
            <span class="photo-container">
              <img src="../../../public/img/test6.png" class="photo">
            </span>
            <span class="content">
              <span class="inner">
                <span class="ti">惠荣</span><span class="vti">Hui Rong</span>
                <span class="msg">“我并非十分聪明，但我十分努力和坚持。”</span>
                <span class="intro overTextH2">1985年出生的他有一颗创作的心，师承中青辈实力派沈建宏老师，2004年开始接触紫砂文化，之后一发不可收拾，深深的对紫砂文化开始着迷。
迄今为止，紫砂壶陪伴自己已经有14年了，整个青春都给了紫砂这份事业。之后，跟随师父沈建宏加入方寸堂，与众多同样有着紫砂梦想的年轻人一起奋斗。</span>
              </span>
            </span>
            <span class="works">
              <span class="works-item">
                <span class="w-l-container">
                  <img src="../../../public/img/test6.png" class="w-l">
                </span>
                <span class="w-l-ti overText">《主慕古子冶》</span>
              </span>
              <span class="works-item">
                <span class="w-l-container">
                  <img src="../../../public/img/test6.png" class="w-l">
                </span>
                <span class="w-l-ti overText">《主慕古子冶》</span>
              </span>
              <span class="works-item">
                <span class="w-l-container">
                  <img src="../../../public/img/test6.png" class="w-l">
                </span>
                <span class="w-l-ti overText">《主慕古子冶》</span>
              </span>
            </span>
          </div>
          <div class="items">
            <span class="photo-container">
              <img src="../../../public/img/test6.png" class="photo">
            </span>
            <span class="content">
              <span class="inner">
                <span class="ti">惠荣</span><span class="vti">Hui Rong</span>
                <span class="msg">“我并非十分聪明，但我十分努力和坚持。”</span>
                <span class="intro overTextH2">1985年出生的他有一颗创作的心，师承中青辈实力派沈建宏老师，2004年开始接触紫砂文化，之后一发不可收拾，深深的对紫砂文化开始着迷。
迄今为止，紫砂壶陪伴自己已经有14年了，整个青春都给了紫砂这份事业。之后，跟随师父沈建宏加入方寸堂，与众多同样有着紫砂梦想的年轻人一起奋斗。</span>
              </span>
            </span>
            <span class="works">
              <span class="works-item">
                <span class="w-l-container">
                  <img src="../../../public/img/test6.png" class="w-l">
                </span>
                <span class="w-l-ti overText">《主慕古子冶》</span>
              </span>
              <span class="works-item">
                <span class="w-l-container">
                  <img src="../../../public/img/test6.png" class="w-l">
                </span>
                <span class="w-l-ti overText">《主慕古子冶》</span>
              </span>
              <span class="works-item">
                <span class="w-l-container">
                  <img src="../../../public/img/test6.png" class="w-l">
                </span>
                <span class="w-l-ti overText">《主慕古子冶》</span>
              </span>
            </span>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="top">
          <div class="inner">
            <div class="its l"><span class="text">原创+限量</span></div>
            <div class="its c"><span class="text">标价+规范</span></div>
            <div class="its r"><span class="text">保值+受益</span></div>
          </div>
        </div>
        <div class="bottom">
          <div class="inner">
            <div class="its">
              <p class="copyright">
                Copyright&nbsp&copy;&nbsp;2018&nbsp;宜兴方寸堂文化传媒有限公司版权所有</p>
              <p class="copyright-b">苏公安备32028202000436号&nbsp;苏ICP备14043090号-4</p>
              <p class="copyright-b">联系电话：<a href="tel:051087410606" class="call">0510-87410606</a></p>
            </div>
            <div class="its">
              <p class="shop">门店</p>
              <p class="addrs">宜兴市丁蜀镇陶瓷城E区2834号</p>
              <p class="addrs">上海市闵行区北松公路58号</p>
              <p class="addrs">西安市莲湖区西市中路西市佳园7号楼10105号</p>
            </div>
            <div class="its">
              <div class="qrcode">扫一扫关注我们</div>
            </div>
          </div>
        </div>
      </footer>
	</div>
    <!-- built files will be auto injected -->
    <script>
        let config = {
            'code_url': '',
            'login_url': '',
            'gt_url': 'http://test.pc.fangcun.com/geetest',
            'gt_product': '',
            'gt_lang': '',
            'gt_http': ''
        };

    </script>
  </body>
</html>
