.header{
  .head{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: $color-333;
    .inner{
      position: relative;
      margin: 0 auto;
      width: 1090px;
      height: 100%;
      .l{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        .title{
          color: $color-white;
          font-size: $font-size-t14;
        }
        .tip{
          display: inline-block;
          padding-left: 46px;
          background: url("../../../../public/img/icon_notice.png") no-repeat 25px center;
          background-size: 16px;
          color: $color-C99F4F;
          font-size: $font-size-t14;
        }
      }
      .r{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        font-size: 0;
        .items{
          position: relative;
          display: inline-block;
          color: $color-white;
          height: 100%;
          padding: 0 6px;
          font-size: $font-size-t14;
          &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 14px;
            background-color: $color-white;
          }
          &:last-child{
            &:after{
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              transform: none;
              width: 0;
              height: 0;
              background-color: transparent;
            }
          }
        }
        .manage.items{
          padding: 0 20px 0 6px;
          &:before{
            content: '';
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            background-color: transparent;
            border-top: 4px solid $color-white;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
          }
          &:hover{
            .h-l{
              display: block;
            }
          }
          .shop-name{
            color: $color-white;
          }
          .h-l{
            position: absolute;
            top: 92%;
            left: 0;
            z-index: 1;
            background-color: $color-white;
            border-radius: 5px;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.20);
            display: none;
            width: 104px;
            padding: 20px 0;
            text-align: center;
            &:before{
              content: '';
              display:block;
              width:0;
              height:0;
              border-width: 0 5px 5px 5px;
              border-style:solid;
              border-color: transparent transparent $color-white transparent;
              position:absolute;
              top:-5px;
              left:50%;
              transform: translateX(-50%);
            }
            &:after{
              content: '';
              display:block;
              width:0;
              height:0;
              border-width: 0 5px 5px 5px;
              border-style:solid;
              border-color: transparent transparent #f8f8f8 transparent;
              position:absolute;
              top:-5x;
              left:50%;
              transform: translateX(-50%);
            }
            .ls{
              display: block;
              width: 56px;
              margin: 0 auto;
              text-align: left;
              color: $color-333;
              font-size: $font-size-t14;
              line-height: 14px;
              padding-bottom: 10px;
              margin-bottom: 10px;
              border-bottom: 1px solid $color-ccc;
              &:last-child{
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
              }
              &:hover{
                color: $color-8B572A;
              }
            }
          }
        }
      }
    }
  }
  .logo{
    position: relative;
    margin: 0 auto;
    width: 1090px;
    height: 106px;
    background: url("../../../../public/img/logo.png") no-repeat center center;
    background-size: 150px 46px;
    .search-container{
      position: absolute;
      right: 15%;
      top: 50%;
      transform: translateY(-50%);
      width: 200px;
      height: 22px;
      border-bottom: 1px solid $color-999;
      .search{
        width: 164px;
        height: 14px;
        line-height: 14px;
        border: none;
        color: $color-ccc;
        font-size: $font-size-t14;
      }
      .sub{
        position: absolute;
        right: 0;
        bottom: 0;
        display: inline-block;
        width: 22px;
        height: 22px;
        outline: none;
        border: none;
        box-shadow: none;
        -webkit-tap-highlight-color:transparent;
        background: url("../../../../public/img/icon_search.png") no-repeat center center;
        background-size: 22px 22px;
      }
    }
  }
  .tabs{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 10px;
    width: 782px;
    height: 38px;
    li.items{
      position: relative;
      -moz-box-flex: 1.0; /* Firefox */
      -webkit-box-flex: 1.0; /* Safari 和 Chrome */
      box-flex: 1.0;
      width: 64px;
      height: 38px;
      &:first-child{
        width: 32px;
      }
      .l{
        display: block;
        width: 100%;
        height: 16px;
        line-height: 16px;
        font-size: $font-size-t16;
        color: $color-999;
      }
    }
    li.items.chosen{
      &:after{
        content: '';
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $color-8B572A;
      }
      .l{
        color: $color-333;
      }
    }
  }
}