@import "./src/public/css/common";
@import "./src/public/css/header";
@import "./src/public/css/footer";
.index-container{
  @extend %page;
  .banner{
    position: relative;
    width: 100%;
    padding-bottom: calc(520/1920*100%);
    .inner{
      position: absolute;
      width: 100%;
      height: 100%;
      .swiper-container{
        width: 100%;
        height: 100%;
        .l-items{
          display: block;
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .swiper-button-prev.swiper-button-333,
        .swiper-container-rtl .swiper-button-next.swiper-button-333 {
          width: 28px;
          height: 50px;
          left: 150px;
          right: auto;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23333333'%2F%3E%3C%2Fsvg%3E");
          background-size: 28px 50px;
        }
        .swiper-button-next.swiper-button-333,
        .swiper-container-rtl .swiper-button-prev.swiper-button-333 {
          width: 28px;
          height: 50px;
          left: auto;
          right: 150px;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23333333'%2F%3E%3C%2Fsvg%3E");
          background-size: 28px 50px;
        }
        .swiper-pagination-bullets{
          bottom: 47px;
        }
        .swiper-pagination-bullet{
          display: inline-block;
          width: 44px;
          height: 3px;
          margin: 0 5px;
          border-radius: 0;
          background: $color-999;
          opacity: 1;
        }
        .swiper-pagination-bullet-active{
          background: $color-white;
        }
      }
    }
  }
  .artist{
    position: relative;
    width: $pahe-width-base;
    margin: 0 auto calc(60/1920*100%);
    .title{
      position: absolute;
      top: -70px;
      left: 0;
      width: 300px;
      z-index: 1;
      .m{
        margin-right: 16px;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        font-size: $font-size-t26;
        color: $color-white;
      }
      .s{
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: $font-size-t12;
        color: $color-929BB6;
      }
    }
    .main{
      position: absolute;
      left: 0;
      top: -28px;
      z-index: 1;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      .dynamic{
        position: relative;
        -moz-box-flex: 1.0; /* Firefox */
        -webkit-box-flex: 1.0; /* Safari 和 Chrome */
        box-flex: 1.0;
        width: calc(360/1400*100%);
        padding-bottom: calc(400/1400*100%);
        background: $color-white;
        box-shadow: 0 5px 30px 0 $color-e3e3e3;
        .inner{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .list{
            margin: calc(21/360*100%) calc(24/360*100%);
            width: calc(312/360*100%);
            height: calc(100% - 42/360*100%);
            overflow: hidden;
            .items{
              width: 100%;
              margin-top: calc(16/312*100%);
              padding-bottom: calc(15/312*100%);
              border-bottom: 1px solid $color-e6e6e6;
              .link{
                width: 100%;
                font-size: $font-size-t14;
                line-height: 20px;

              }
            }
          }
        }
      }
      .presale{
        position: relative;
        -moz-box-flex: 1.0; /* Firefox */
        -webkit-box-flex: 1.0; /* Safari 和 Chrome */
        box-flex: 1.0;
        width: calc(512/1400*100%);
        padding-bottom: calc(400/1400*100%);
        overflow: hidden;
        background: $color-fffafa;
        box-shadow: 0 5px 30px 0 $color-e3e3e3;
        .presale-container{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          .swiper-pagination-bullets{
            bottom: 20px;
          }
          .swiper-pagination-bullet{
            display: inline-block;
            width: 24px;
            height: 3px;
            margin: 0 4px;
            border-radius: 0;
            background: $color-ccc;
            opacity: 1;
          }
          .swiper-pagination-bullet-active{
            background: $color-8B572A;
          }
          .ti{
            display: block;
            position: relative;
            z-index: 1;
            font-size: $font-size-t24;
            line-height: 24px;
            margin: calc(30/512*100%) 0 calc(20/512*100%) calc(30/512*100%);
            color: $color-333;
          }
          .countdown{
            display: block;
            position: relative;
            z-index: 1;
            margin: 0 0 0 calc(30/512*100%);
            color: $color-666;
            height: 30px;
            line-height: 30px;
            font-size: $font-size-t16;
            .container{
              color: $color-333;
              .time-block{
                position: relative;
                display: inline-block;
                width: 28px;
                height: 28px;
                line-height: 28px;
                border: 1px solid $color-666;
                margin-left: 8px;
                font-size: $font-size-t20;
                text-align: center;
                .text{
                  position: relative;
                  display: inline-block;
                  z-index: 1;
                  width: 24px;
                  height: 28px;
                }
                &:after{
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 100%;
                  height: 0;
                  border-top: 1px solid $color-666;
                }
              }
              .mark{
                display: inline-block;
                margin-left: 8px;
                vertical-align: top;
                font-weight: bold;
              }
            }
          }
          .pro{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          .quota{
            position: absolute;
            bottom: 30px;
            left: 30px;
            z-index: 1;
            width: 82px;
            height: 32px;
            line-height: 32px;
            color: $color-d3b167;
            text-align: center;
            font-size: $font-size-t14;
          }
        }

      }
      .a-auction{
        position: relative;
        -moz-box-flex: 1.0; /* Firefox */
        -webkit-box-flex: 1.0; /* Safari 和 Chrome */
        box-flex: 1.0;
        width: calc(512/1400*100%);
        padding-bottom: calc(400/1400*100%);
        overflow: hidden;
        background: $color-F9F9F9;
        box-shadow: 0 5px 30px 0 $color-e3e3e3;
        .inner{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .ti{
            display: block;
            position: relative;
            z-index: 1;
            font-size: $font-size-t24;
            line-height: 24px;
            margin: calc(30/512*100%) 0 calc(20/512*100%) calc(30/512*100%);
            color: $color-333;
            .v{
              display: inline-block;
              margin-left: 8px;
              color: $color-999;
              font-size: $font-size-t16;
              line-height: 22px;
            }
          }
          .countdown{
            display: block;
            position: relative;
            z-index: 1;
            margin: 0 0 0 calc(30/512*100%);
            color: $color-666;
            height: 30px;
            line-height: 30px;
            font-size: $font-size-t16;
            .container{
              color: $color-333;
              .time-block{
                position: relative;
                display: inline-block;
                width: 28px;
                height: 28px;
                line-height: 28px;
                border: 1px solid $color-666;
                margin-left: 8px;
                font-size: $font-size-t20;
                text-align: center;
                .text{
                  position: relative;
                  display: inline-block;
                  z-index: 1;
                  width: 24px;
                  height: 28px;
                  background: $color-fffafa;
                }
                &:after{
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 100%;
                  height: 0;
                  border-top: 1px solid $color-666;
                }
              }
              .mark{
                display: inline-block;
                margin-left: 8px;
                vertical-align: top;
                font-weight: bold;
              }
            }
          }
          .pro{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

      }
      .presale-s{
        position: relative;
        -moz-box-flex: 1.0; /* Firefox */
        -webkit-box-flex: 1.0; /* Safari 和 Chrome */
        box-flex: 1.0;
        width: calc(512/1400*100%);
        padding-bottom: calc(400/1400*100%);
        overflow: hidden;
        background: $color-fffafa;
        box-shadow: 0 5px 30px 0 $color-e3e3e3;
        .inner{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .ti{
            display: block;
            position: relative;
            z-index: 1;
            font-size: $font-size-t24;
            line-height: 24px;
            margin: calc(30/512*100%) 0 calc(20/512*100%) calc(30/512*100%);
            color: $color-333;
          }
          .det{
            display: block;
            position: relative;
            z-index: 1;
            margin: 0 calc(30/512*100%);
            color: $color-666;
            height: 30px;
            line-height: 30px;
            font-size: $font-size-t16;
          }
          .pro{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          .quota{
            position: absolute;
            bottom: 30px;
            left: 30px;
            z-index: 1;
            width: 82px;
            height: 32px;
            line-height: 32px;
            color: $color-d3b167;
            text-align: center;
            font-size: $font-size-t14;
          }
        }
      }
      .a-auction-s{
        position: relative;
        -moz-box-flex: 1.0; /* Firefox */
        -webkit-box-flex: 1.0; /* Safari 和 Chrome */
        box-flex: 1.0;
        width: calc(512/1400*100%);
        padding-bottom: calc(400/1400*100%);
        overflow: hidden;
        background: $color-F9F9F9;
        box-shadow: 0 5px 30px 0 $color-e3e3e3;
        .inner{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .ti{
            display: block;
            position: relative;
            z-index: 1;
            font-size: $font-size-t24;
            line-height: 24px;
            margin: calc(30/512*100%) calc(30/512*100%) calc(20/512*100%) calc(30/512*100%);
            color: $color-333;
            .v{
              display: inline-block;
              margin-left: 8px;
              color: $color-999;
              font-size: $font-size-t16;
              line-height: 22px;
            }
          }
          .det{
            display: block;
            position: relative;
            z-index: 1;
            margin: 0 calc(30/512*100%);
            color: $color-666;
            height: 30px;
            line-height: 30px;
            font-size: $font-size-t16;
          }
          .pro{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .new{
    position: relative;
    width: $pahe-width-base;
    margin: 0 auto calc(60/1920*100%);
    .title{
      width: 300px;
      .m{
        margin-right: 16px;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        font-size: $font-size-t26;
        color: $color-333;
      }
      .s{
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: $font-size-t12;
        color: $color-929BB6;
      }
    }
    .main{
      width: 100%;
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .items{
        position: relative;
        -moz-box-flex: 1.0; /* Firefox */
        -webkit-box-flex: 1.0; /* Safari 和 Chrome */
        box-flex: 1.0;
        width: calc(453/1400*100%);
        padding-bottom: calc(255.9/1400*100%);
        overflow: hidden;
        .com{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }

    }
  }
  }
  .optimization{
    position: relative;
    width: calc(1556/1920*100%);
    margin: 0 auto calc(60/1920*100%);
    .title{
      position: relative;
      width: $pahe-width-base;
      margin: 0 auto 16px;
      .m{
        margin-right: 16px;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        font-size: $font-size-t26;
        color: $color-333;
      }
      .s{
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: $font-size-t12;
        color: $color-929BB6;
      }
      .more{
        position: absolute;
        right: 0;
        top: 50%;
        display: inline-block;
        padding-right: 22px;
        transform: translateY(-50%);
        font-size: $font-size-t16;
        line-height: 22px;
        background: url("../../../../public/img/more.png") no-repeat center right;
        background-size: 16px 16px;
      }
    }
    .main{
      position: relative;
      width: 100%;
      .opt-container{
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        z-index: 1;
        width: $pahe-width-base;
        padding: 0;
        .l-items{
          position: relative;
          display: block;
          width: 98%;
          margin: 0 auto;
          .mark{
            position: absolute;
            right: 10px;
            top: 10px;
            display: block;
            width: 50px;
            height: 22px;
            line-height: 22px;
            font-size: $font-size-t14;
            background-color: $color-d3b267;
            color: $color-white;
            text-align: center;
          }
          img{
            width: 100%;
          }
          .des{
            display: block;
            padding: 20px 5px;
            width: calc(100% - 10px);
            text-align: center;
            font-size: $font-size-t16;
            line-height: 22px;
            height: 52px;
            background-color: $color-fafafa;
            .t{
              display: block;
              color: $color-333;
              margin-bottom: 8px;
            }
            .v{
              display: block;
              color: $color-999;
            }
          }
        }

      }
      .opt-swiper-button-prev,
      .opt-swiper-button-next {
        position: absolute;
        top: 50%;
        width: 28px;
        height: 50px;
        margin-top: -22px;
        z-index: 10;
        cursor: pointer;
        background-size: 28px 50px;
        background-position: center;
        background-repeat: no-repeat;
      }
      .opt-swiper-button-prev.swiper-button-disabled,
      .opt-swiper-button-next.swiper-button-disabled {
        opacity: 0.35;
        cursor: auto;
        pointer-events: none;
      }
      .opt-swiper-button-prev.swiper-button-333,
      .swiper-container-rtl .opt-swiper-button-next.swiper-button-333 {
        width: 28px;
        height: 50px;
        left: 0;
        right: auto;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23333333'%2F%3E%3C%2Fsvg%3E");
        background-size: 28px 50px;
      }
      .opt-swiper-button-next.swiper-button-333,
      .swiper-container-rtl .opt-swiper-button-prev.swiper-button-333 {
        width: 28px;
        height: 50px;
        left: auto;
        right: 0;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23333333'%2F%3E%3C%2Fsvg%3E");
        background-size: 28px 50px;
      }
      .swiper-button-333:link, .swiper-button-333:visited, .swiper-button-333:hover,
      .swiper-button-333:active, .swiper-button-333:focus{
        outline: none;
        border: none;
        box-shadow: none;
        -webkit-tap-highlight-color:transparent;
      }

    }
  }
  .auction{
    position: relative;
    width: $pahe-width-base;
    margin: 0 auto calc(60/1920*100%);
    .title{
      width: 300px;
      margin-bottom: 16px;
      .m{
        margin-right: 16px;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        font-size: $font-size-t26;
        color: $color-333;
      }
      .s{
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: $font-size-t12;
        color: $color-929BB6;
      }
    }
    .main{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      .items{
        position: relative;
        -moz-box-flex: 1.0; /* Firefox */
        -webkit-box-flex: 1.0; /* Safari 和 Chrome */
        box-flex: 1.0;
        width: calc(690/1400*100%);
        overflow: hidden;
        background-color: $color-fcfcfc;
        .img-container{
          display: block;
          position: relative;
          width: 100%;
          padding-bottom: calc(300/690*100%);
          .i{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
        .con{
          display: block;
          position: relative;
          width: 100%;
          padding-bottom: calc(90/690*100%);
          .inner{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            .t{
              display: block;
              position: absolute;
              left: calc(16/690*100%);
              top: calc(80/690*100%);
              font-size: $font-size-t18;
              line-height: 25px;
              color: $color-333;
            }
            .p{
              display: block;
              position: absolute;
              right: calc(24/690*100%);
              top: calc(80/690*100%);
              width: 90px;
              height: 24px;
              text-align: center;
              font-size: $font-size-t14;
              line-height: 24px;
              color: $color-white;
              background-color: $color-8B572A;
            }
            .n{
              display: block;
              position: absolute;
              left: calc(16/690*100%);
              bottom: calc(80/690*100%);
              font-size: $font-size-t16;
              line-height: 22px;
              color: $color-999;
            }
            .c{
              display: block;
              position: absolute;
              right: calc(24/690*100%);
              bottom: calc(70/690*100%);
              font-size: $font-size-t18;
              line-height: 25px;
              color: $color-333;
              .num{
                color: $color-8B572A;
                font-size: $font-size-t24;
              }
            }
          }

        }
      }
    }
  }
  .act{
    position: relative;
    width: calc(1556/1920*100%);
    margin: 0 auto calc(60/1920*100%);
    .title{
      position: relative;
      width: $pahe-width-base;
      margin: 0 auto calc(54/1556*100%);
      .m{
        margin-right: 16px;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        font-size: $font-size-t26;
        color: $color-333;
      }
      .s{
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: $font-size-t12;
        color: $color-929BB6;
      }
      .more{
        position: absolute;
        right: 0;
        top: 50%;
        display: inline-block;
        padding-right: 22px;
        transform: translateY(-50%);
        font-size: $font-size-t16;
        line-height: 22px;
        background: url("../../../../public/img/more.png") no-repeat center right;
        background-size: 16px 16px;
      }
    }
    .main{
      position: relative;
      width: 100%;
      .act-container{
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        z-index: 1;
        width: $pahe-width-base;
        padding: 0;
        .l-items{
          position: relative;
          display: block;
          width: 92%;
          padding-bottom: calc(322/350*100%);
          margin: 0 auto;
          .inner{
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            img{
              position: absolute;
              left: calc(16/322*100%);
              top: 0;
              z-index: 1;
              width: calc(180/322*100%);
              height: calc(200/322*100%);
            }
            .des{
              margin-top: calc(140/322*100%);
              display: block;
              padding: calc(70/322*100%) 0 calc(20/322*100%) 0;
              width: calc(100% - 2px);
              border: 1px solid $color-C99F4F;
              .til{
                display: inline-block;
                color: $color-333;
                font-size: $font-size-t20;
                line-height: 20px;
                margin: 0 calc(10/320*100%) calc(8/320*100%) calc(16/320*100%);
              }
              .en{
                display: inline-block;
                color: $color-ccc;
                font-size: $font-size-t14;
                line-height: 14px;
              }
              .d{
                color: $color-666;
                font-size: $font-size-t14;
                line-height: 20px;
                margin: 0 calc(14/320*100%);
              }
            }
          }
        }

      }
      .act-swiper-button-prev,
      .act-swiper-button-next {
        position: absolute;
        top: 50%;
        width: 28px;
        height: 50px;
        margin-top: -22px;
        z-index: 10;
        cursor: pointer;
        background-size: 28px 50px;
        background-position: center;
        background-repeat: no-repeat;
      }
      .act-swiper-button-prev.swiper-button-disabled,
      .act-swiper-button-next.swiper-button-disabled {
        opacity: 0.35;
        cursor: auto;
        pointer-events: none;
      }
      .act-swiper-button-prev.swiper-button-333,
      .swiper-container-rtl .act-swiper-button-next.swiper-button-333 {
        width: 28px;
        height: 50px;
        left: 0;
        right: auto;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23333333'%2F%3E%3C%2Fsvg%3E");
        background-size: 28px 50px;
      }
      .act-swiper-button-next.swiper-button-333,
      .swiper-container-rtl .act-swiper-button-prev.swiper-button-333 {
        width: 28px;
        height: 50px;
        left: auto;
        right: 0;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23333333'%2F%3E%3C%2Fsvg%3E");
        background-size: 28px 50px;
      }
      .swiper-button-333:link, .swiper-button-333:visited, .swiper-button-333:hover,
      .swiper-button-333:active, .swiper-button-333:focus{
        outline: none;
        border: none;
        box-shadow: none;
        -webkit-tap-highlight-color:transparent;
      }

    }
  }
  .recommend{
    position: relative;
    width: $pahe-width-base;
    margin: 0 auto calc(60/1920*100%);
    .title{
      position: relative;
      width: $pahe-width-base;
      margin: 0 auto calc(16/1400*100%);
      .m{
        margin-right: 16px;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        font-size: $font-size-t26;
        color: $color-333;
      }
      .s{
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: $font-size-t12;
        color: $color-929BB6;
      }
      .more{
        position: absolute;
        right: 0;
        top: 50%;
        display: inline-block;
        padding-right: 22px;
        transform: translateY(-50%);
        font-size: $font-size-t16;
        line-height: 22px;
        background: url("../../../../public/img/more.png") no-repeat center right;
        background-size: 16px 16px;
      }
    }
    .main{
      position: relative;
      width: 100%;
      .left{
        position: absolute;
        left: 0;
        top: 0;
        width: calc(551/1400*100%);
        padding-bottom: calc(734/1400*100%);
        background-color: $color-fcfcfc;
        .inner{
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          .img-contanier{
            position: relative;
            display: block;
            width: 100%;
            padding-bottom: 100%;
            img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
          .sale{
            display: block;
            position: absolute;
            right: calc(20/551*100%);
            top: calc(20/551*100%);
            z-index: 1;
            width: 48px;
            height: 24px;
            font-size: $font-size-t14;
            line-height: 24px;
            text-align: center;
            color: $color-white;
            background-color: $color-8B572A;
          }
          .ti{
            display: block;
            position: absolute;
            left: 50%;
            bottom: calc(90/551*100%);
            transform: translateX(-50%);
            width: 90%;
            font-size: $font-size-t20;
            line-height: 28px;
            color: $color-333;
            text-align: center;
          }
          .vti{
            display: block;
            position: absolute;
            left: 50%;
            bottom: calc(20/551*100%);
            transform: translateX(-50%);
            width: 90%;
            text-align: center;
            font-size: $font-size-t20;
            line-height: 28px;
            color: $color-999;
          }
        }
      }
      .right{
        position: relative;
        margin-left: calc(559/1400*100%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .items{
          position: relative;
          -moz-box-flex: 1.0; /* Firefox */
          -webkit-box-flex: 1.0; /* Safari 和 Chrome */
          box-flex: 1.0;
          width: calc(275/841*100%);
          padding-bottom: calc(363/841*100%);
          background-color: $color-fcfcfc;
          margin-bottom: calc(8/841*100%);
          margin-right: calc(8/841*100%);
          .inner{
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            .img-contanier{
              position: relative;
              display: block;
              width: 100%;
              padding-bottom: 100%;
              img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
            .sale{
              display: block;
              position: absolute;
              right: calc(10/275*100%);
              top: calc(10/275*100%);
              width: 48px;
              height: 24px;
              font-size: $font-size-t14;
              line-height: 24px;
              text-align: center;
              color: $color-white;
              background-color: $color-8B572A;
            }
            .ti{
              display: block;
              position: absolute;
              left: 50%;
              bottom: calc(32/275*100%);
              transform: translateX(-50%);
              width: 90%;
              font-size: $font-size-t16;
              line-height: 22px;
              color: $color-333;
              text-align: center;
            }
            .vti{
              display: block;
              position: absolute;
              left: 50%;
              bottom: calc(8/275*100%);
              transform: translateX(-50%);
              width: 90%;
              font-size: $font-size-t16;
              line-height: 22px;
              color: $color-999;
            }
          }
          &:nth-child(3n){
            margin-right: 0;
          }

        }
      }
    }
  }
  .encyclopedia{
    position: relative;
    width: $pahe-width-base;
    margin: 0 auto calc(60/1920*100%);
    .title{
      width: 300px;
      margin-bottom: calc(16/1400*100%);
      .m{
        margin-right: 16px;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        font-size: $font-size-t26;
        color: $color-333;
      }
      .s{
        display: inline-block;
        height: 12px;
        line-height: 12px;
        font-size: $font-size-t12;
        color: $color-929BB6;
      }
    }
    .main{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .items{
        position: relative;
        -moz-box-flex: 1.0; /* Firefox */
        -webkit-box-flex: 1.0; /* Safari 和 Chrome */
        box-flex: 1.0;
        width: calc(450/1400*100%);
        .top{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          padding-bottom: calc(57/450*100%);
          background-color: $color-fafafa;
          .inn{
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            .l{
              position: absolute;
              top: 50%;
              left: 24px;
              transform: translateY(-50%);
              display: inline-block;
              font-size: $font-size-t18;
              color: $color-333;
            }
            .r{
              position: absolute;
              right: 24px;
              top: 50%;
              display: inline-block;
              padding-right: 22px;
              transform: translateY(-50%);
              font-size: $font-size-t16;
              color: $color-666;
              line-height: 22px;
              background: url("../../../../public/img/more.png") no-repeat center right;
              background-size: 16px 16px;
            }
          }
        }
        .bottom{
          width: calc(100% - 2px);
          padding-top: calc(65/450*100%);
          height: 285px;
          overflow: hidden;
          border-left: 1px solid $color-fafafa;
          border-right: 1px solid $color-fafafa;
          border-bottom: 1px solid $color-fafafa;
          .industry{
            width: calc(402/450*100%);
            margin: 0 auto;
            height: 90%;
            overflow: hidden;
            .it{
              width: 100%;
              border-bottom: 1px solid $color-e6e6e6;
              .link{
                display: block;
                font-size: $font-size-t14;
                line-height: 14px;
                color: $color-333;
                padding: calc(16/450*100%) 0;
              }
              &:last-child{
                border-bottom: none;
              }
            }
          }
          .pug{
            width: calc(402/450*100%);
            margin: 0 auto;
            .img-contanier{
              position: relative;
              display: block;
              width: 100%;
              padding-bottom: calc(143/450*100%);
              img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
            .pug-title{
              margin: calc(8/402*100%) 0;
              font-size: $font-size-t16;
              line-height: 22px;
            }
            .pug-detail{
              position: relative;
              width: calc(375/402*100%);
              padding-right: calc(27/402*100%);
              margin-bottom: calc(16/402*100%);
              font-size: $font-size-t14;
              line-height: 22px;
              text-align: left;
              letter-spacing: 0;
              .det{
                position: absolute;
                right: 0;
                bottom: 0;
                display: block;
                color: $color-8B572A;
                font-size: $font-size-t14;
                line-height: 20px;
                text-decoration: underline;
              }
            }
            .pugs{
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;
              .pugs-items {
                -moz-box-flex: 1.0; /* Firefox */
                -webkit-box-flex: 1.0; /* Safari 和 Chrome */
                box-flex: 1.0;
                display: block;
                background-color: $color-fafafa;
                width: calc(94/402*100%);
                height: 36px;
                font-size: $font-size-t14;
                line-height: 36px;
                text-align: center;
                margin-bottom: 8px;
              }
            }
          }
          .pot{
            width: calc(402/450*100%);
            margin: 0 auto;
            .img-contanier{
              position: relative;
              display: block;
              width: 100%;
              padding-bottom: calc(143/450*100%);
              img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
            .pug-title{
              margin: calc(8/402*100%) 0;
              font-size: $font-size-t16;
              line-height: 22px;
            }
            .pug-detail{
              position: relative;
              width: calc(375/402*100%);
              padding-right: calc(27/402*100%);
              margin-bottom: calc(16/402*100%);
              font-size: $font-size-t14;
              line-height: 22px;
              text-align: left;
              letter-spacing: 0;
              .det{
                position: absolute;
                right: 0;
                bottom: 0;
                display: block;
                color: $color-8B572A;
                font-size: $font-size-t14;
                line-height: 20px;
                text-decoration: underline;
              }
            }
            .pugs{
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;
              .pugs-items {
                -moz-box-flex: 1.0; /* Firefox */
                -webkit-box-flex: 1.0; /* Safari 和 Chrome */
                box-flex: 1.0;
                display: block;
                background-color: $color-fafafa;
                width: calc(197/402*100%);
                height: 36px;
                font-size: $font-size-t14;
                line-height: 36px;
                text-align: center;
                margin-bottom: 8px;
              }
            }
          }
        }
      }
    }
  }
}