@import "./src/public/css/common";
.index-container{
  @extend %page;
  .head{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: $color-333;
    .inner{
      position: relative;
      margin: 0 auto;
      width: 1400px;
      height: 100%;
      .l{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        .title{
          color: $color-white;
          font-size: $font-size-t14;
        }
        .tip{
          display: inline-block;
          padding-left: 46px;
          background: url("../../../../public/img/icon_notice.png") no-repeat 25px center;
          background-size: 16px;
          color: $color-C99F4F;
          font-size: $font-size-t14;
        }
      }
      .r{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        font-size: 0;
        .log, .reg{
          position: relative;
          display: inline-block;
          color: $color-white;
          height: 100%;
          padding: 0 6px;
          font-size: $font-size-t14;
          &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 14px;
            background-color: $color-white;
          }
        }
        .ord{
          display: inline-block;
          height: 100%;
          padding: 0 6px;
          color: $color-white;
          font-size: $font-size-t14;
        }
      }
    }
  }
  .logo{
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 106px;
    background: url("../../../../public/img/logo.png") no-repeat center center;
    background-size: 150px 46px;
    .search-container{
      position: absolute;
      right: 324px;
      top: 50%;
      transform: translateY(-50%);
      width: 200px;
      height: 22px;
      border-bottom: 1px solid $color-999;
      .search{
        width: 164px;
        height: 14px;
        line-height: 14px;
        border: none;
        color: $color-ccc;
        font-size: 14px;
      }
      .sub{
        position: absolute;
        right: 0;
        bottom: 0;
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url("../../../../public/img/icon_search.png") no-repeat center center;
        background-size: 22px 22px;
      }
    }
  }
}