<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>index</title>
  </head>
  <body>
    <div class="index-container">
      <section class="head">
        <div class="inner">
          <div class="l">
            <a href="javascript:;" class="title">方寸堂，不止不同</a>
            <a href="javascript:;" class="tip">防咋骗公告</a>
          </div>
          <div class="r">
            <a href="javascript:;" class="log">登录</a>
            <a href="javascript:;" class="reg">注册</a>
            <a href="javascript:;" class="ord">我的订单</a>
          </div>
        </div>
      </section>
      <section class="logo">
        <div class="search-container">
          <input type="text" class="search" placeholder="宝贝名称 守艺人名字 壶型">
          <a href="javascript:;" class="sub">&nbsp;</a>
          <p></p>
        </div>
      </section>
      <ul class="tabs">
        <li class="items chosen">
          <a href="javascript:;" class="l">首页</a>
        </li>
        <li class="items">
          <a href="javascript:;" class="l">紫砂商城</a>
        </li>
        <li class="items">
          <a href="javascript:;" class="l">紫砂艺人</a>
        </li>
        <li class="items">
          <a href="javascript:;" class="l">紫砂拍卖</a>
        </li>
        <li class="items">
          <a href="javascript:;" class="l">线下门店</a>
        </li>
        <li class="items">
          <a href="javascript:;" class="l">关于品牌</a>
        </li>
      </ul>
      <section class="banner">
        <div class="inner">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/b_1.png" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/b_2.png" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/b_3.png" alt="">
                </a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev swiper-button-333"></div>
            <div class="swiper-button-next swiper-button-333"></div>
          </div>
        </div>
      </section>
      <section class="artist">
        <div class="title">
          <span class="m">艺人动态</span><span class="s">为你寻觅世间好物</span>
        </div>
        <div class="main">
          <div class="dynamic">
            <ul class="list">
              <li class="items">
                <a href="javascript:;" class="link overTextH2">2018.07.10 欢迎匠人惠榕入驻方寸堂</a>
              </li>
              <li class="items">
                <a href="javascript:;" class="link overTextH2">2018.07.10 范志朋《疏影》限量发行，永久保值换购，100%原人手制</a>
              </li>
              <li class="items">
                <a href="javascript:;" class="link overTextH2">原矿青段泥：紫陶者谓之“青灰泥”，古云“天青色”陶之色调呈蓝、绿与灰之复合色，以烧成色命名</a>
              </li>
              <li class="items">
                <a href="javascript:;" class="link overTextH2">2018.07.08 欢迎匠人许兵入驻方寸堂</a>
              </li>
              <li class="items">
                <a href="javascript:;" class="link overTextH2">原矿青段泥：紫陶者谓之“青灰泥”，古云“天青色”陶之色调呈蓝、绿与灰之复合色，以烧成色命名</a>
              </li>
              <li class="items">
                <a href="javascript:;" class="link overTextH2">2018.07.08 欢迎匠人许兵入驻方寸堂</a>
              </li>
            </ul>
          </div>
          <div class="presale">
            <div class="presale-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="ti">预售宝贝</div>
                  <div class="countdown">距离开始时间<span class="container"><span class="time-block"><span class="text">03</span></span><span class="mark">:</span><span class="time-block"><span class="text">03</span></span><span class="mark">:</span><span class="time-block"><span class="text">03</span></span></span></div>
                  <img src="../../../public/img/test5.jpg" class="pro">
                  <div class="quota">限额10位</div>
                </div>
                <div class="swiper-slide">
                  <div class="ti">预售宝贝</div>
                  <div class="countdown">距离开始时间<span class="container"><span class="time-block"><span class="text">03</span></span><span class="mark">:</span><span class="time-block"><span class="text">03</span></span><span class="mark">:</span><span class="time-block"><span class="text">03</span></span></span></div>
                  <img src="../../../public/img/test5.jpg" class="pro">
                  <div class="quota">限额10位</div>
                </div>
                <div class="swiper-slide">
                  <div class="ti">预售宝贝</div>
                  <div class="countdown">距离开始时间<span class="container"><span class="time-block"><span class="text">03</span></span><span class="mark">:</span><span class="time-block"><span class="text">03</span></span><span class="mark">:</span><span class="time-block"><span class="text">03</span></span></span></div>
                  <img src="../../../public/img/test5.jpg" class="pro">
                  <div class="quota">限额10位</div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>
          <div class="a-auction">
            <div class="ti">许兵大师拍卖专场<span class="v">好货一小时 限时抢拍</span></div>
            <div class="countdown">拍卖中<span class="container"><span class="time-block"><span class="text">03</span></span><span class="mark">:</span><span class="time-block"><span class="text">03</span></span><span class="mark">:</span><span class="time-block"><span class="text">03</span></span></span></div>
            <img src="../../../public/img/test5.jpg" class="pro">
          </div>
        </div>
      </section>
      <section class="new">
        <div class="title">
          <span class="m">新品首发</span><span class="s">为你寻觅世间好物</span>
        </div>
        <div class="main">
          <div class="items">
            <div class="l">
              <div class="title">许兵大师强烈推荐</div>
              <div class="vtitle">可以为简短副标题</div>
              <img src="../../../public/img/test5.jpg" class="photo">
            </div>
          </div>
          <div class="items">
            <div class="c">
              <div class="title">许兵大师强烈推荐</div>
              <div class="vtitle">可以为简短副标题</div>
              <img src="../../../public/img/test5.jpg" class="photo">
            </div>
          </div>
          <div class="items">
            <div class="r">
              <div class="title">许兵大师强烈推荐</div>
              <div class="vtitle">可以为简短副标题</div>
              <img src="../../../public/img/test5.jpg" class="photo">
            </div>
          </div>
        </div>
      </section>
      <section class="optimization">
        <div class="title">
          <span class="m">为你优选</span><span class="s">为你寻觅世间好物</span>
          <a href="javascript:;" class="more">更多宝贝</a>
        </div>
        <div class="main">
          <div class="opt-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <span class="mark">新品</span>
                  <img src="../../../public/img/test4.jpg" alt="">
                  <span class="des">
                    <span class="t">《壶的名字》作者名字 280CC</span>
                    <span class="v">副标题壶的特点制作特色卖点等一行最佳</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <span class="mark">新品</span>
                  <img src="../../../public/img/test5.jpg" alt="">
                  <span class="des">
                    <span class="t">《壶的名字》作者名字 280CC</span>
                    <span class="v">副标题壶的特点制作特色卖点等一行最佳</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/test6.jpg" alt="">
                  <span class="des">
                    <span class="t">《壶的名字》作者名字 280CC</span>
                    <span class="v">副标题壶的特点制作特色卖点等一行最佳</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <span class="mark">新品</span>
                  <img src="../../../public/img/test5.jpg" alt="">
                  <span class="des">
                    <span class="t">《壶的名字》作者名字 280CC</span>
                    <span class="v">副标题壶的特点制作特色卖点等一行最佳</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <span class="mark">新品</span>
                  <img src="../../../public/img/test4.jpg" alt="">
                  <span class="des">
                    <span class="t">《壶的名字》作者名字 280CC</span>
                    <span class="v">副标题壶的特点制作特色卖点等一行最佳</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <span class="mark">新品</span>
                  <img src="../../../public/img/test5.jpg" alt="">
                  <span class="des">
                    <span class="t">《壶的名字》作者名字 280CC</span>
                    <span class="v">副标题壶的特点制作特色卖点等一行最佳</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="opt-swiper-button-prev swiper-button-333"></div>
          <div class="opt-swiper-button-next swiper-button-333"></div>
        </div>
      </section>
      <section class="auction">
        <div class="title">
          <span class="m">拍卖</span><span class="s">为你寻觅世间好物</span>
        </div>
        <div class="main">
          <div class="items">
            <img src="../../../public/img/auc1.png" class="i">
            <div class="con">
              <div class="t">精品保值紫砂壶 夏惠清大师级紫砂重器专场</div>
              <div class="p">2200次出价</div>
              <div class="n">1657人围观</div>
              <div class="c">距结束：<span class="num">00</span>天<span class="num">00</span>时<span class="num">00</span>分<span class="num">00</span>秒</div>
            </div>
          </div>
          <div class="items">
            <img src="../../../public/img/auc2.png" class="i">
            <div class="con">
              <div class="t">精品保值紫砂壶 夏惠清大师级紫砂重器专场</div>
              <div class="p">2200次出价</div>
              <div class="n">1657人围观</div>
              <div class="c">距结束：<span class="num">00</span>天<span class="num">00</span>时<span class="num">00</span>分<span class="num">00</span>秒</div>
            </div>
          </div>
        </div>
      </section>
      <section class="act">
        <div class="title">
          <span class="m">守艺人</span><span class="s">60+位入驻守艺人</span>
          <a href="javascript:;" class="more">更多守艺人</a>
        </div>
        <div class="main">
          <div class="act-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/test4.jpg" alt="">
                  <span class="des">
                    <span class="til">惠荣</span><span class="en">Hui Rong</span>
                    <span class="d overTextH3">沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/test4.jpg" alt="">
                  <span class="des">
                    <span class="til">惠荣</span><span class="en">Hui Rong</span>
                    <span class="d overTextH3">沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/test4.jpg" alt="">
                  <span class="des">
                    <span class="til">惠荣</span><span class="en">Hui Rong</span>
                    <span class="d overTextH3">沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/test4.jpg" alt="">
                  <span class="des">
                    <span class="til">惠荣</span><span class="en">Hui Rong</span>
                    <span class="d overTextH3">沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/test4.jpg" alt="">
                  <span class="des">
                    <span class="til">惠荣</span><span class="en">Hui Rong</span>
                    <span class="d overTextH3">沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。沈建宏的造型设计，由陆成程精心制作。六瓣筋纹比例协调的布满壶身，自壶肩处鼓起的力量彰显着此壶的劲道。</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="act-swiper-button-prev swiper-button-333"></div>
          <div class="act-swiper-button-next swiper-button-333"></div>
        </div>
      </section>
	</div>
    <!-- built files will be auto injected -->
  </body>
</html>
