<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>index</title>
  </head>
  <body>
    <div class="login-container">1
      <div class="header">
        <section class="head">
          <div class="inner">
            <div class="l">
              <a href="javascript:;" class="title">方寸堂，不止不同</a>
              <a href="javascript:;" class="tip">防咋骗公告</a>
            </div>
<!--            <div class="r">
              <a href="javascript:;" class="js-pop-login items">登录</a>
              <a href="javascript:;" class="js-pop-reg items">注册</a>
              <a href="javascript:;" class="items">我的订单</a>
            </div>-->
            <div class="r">
              <div class="manage items">
                <a href="javascript:;" class="shop-name">店铺xxxx</a>
                <span class="h-l">
                  <a href="javascript:;" class="ls">我的拍卖</a>
                  <a href="javascript:;" class="ls">我的钱包</a>
                  <a href="javascript:;" class="ls">我的收藏</a>
                  <a href="javascript:;" class="ls">地址管理</a>
                  <a href="javascript:;" class="ls">退出</a>
                </span>
              </div>
              <a href="javascript:;" class="items">店长管理</a>
              <a href="javascript:;" class="items">我的订单</a>
              <a href="javascript:;" class="items">会员中心</a>
              <a href="javascript:;" class="items">帮助中心</a>
            </div>
          </div>
        </section>
      </div>
      <section class="main">
        <div class="img-container">
          <img src="../../../public/img/login.png" class="show-img">
        </div>
          <div class="log-form">
            <div class="link-container">
              <a href="javascript:;" class="cur">手机号登录</a>
              <a href="javascript:;" class="js-reg l">快速注册</a>
            </div>
            <div class="login-form">
              <form id="quickLogin">
                <div class="login-items phone">
                  <input type="text" name="cellphone" class="js-phone-num phone-num" placeholder="请输入手机号码"/>
                  <a href="javascript:;" class="js-clear-fork clear-fork hidden">&nbsp;</a>
                </div>
                <div class="login-items val">
                  <div id="captcha"></div>
                </div>
                <div class="login-items msg">
                  <input type="text" name="sms_code" class="js-msg-num msg-num" placeholder="请输入短信验证码"/>
                  <a href="javascript:;" class="js-get-code get-code">获取验证码</a>
                </div>
                <a href="javascript:;" class="js-login sub">登录</a>
              </form>
            </div>
            <div class="other">
              <div class="title">其他登录方式</div>
              <a href="javascript:;" class="links">
                <span class="l-txt">微信登录</span>
              </a>
            </div>
          </div>
      </section>
	</div>


    <!-- 注册&登录 弹窗 -->
    <div class="js-user-pop user-pop hidden">
      <div class="user-pop-container">
        <div class="link-container">
          <a href="javascript:;" class="js-r r cur">快速注册</a>
          <a href="javascript:;" class="js-l l ">手机号登录</a>
          <a href="javascript:;" class="js-user-close close">&nbsp;</a>
        </div>
        <div class="user-pop-form">
          <form id="user">
            <div class="user-pop-items phone">
              <input type="text" name="cellphone" class="js-phone-num-p phone-num" placeholder="请输入手机号码"/>
              <a href="javascript:;" class="js-clear-fork-p clear-fork hidden">&nbsp;</a>
            </div>
            <div class="user-pop-items val">
              <div id="captchaReg"></div>
            </div>
            <div class="user-pop-items msg">
              <input type="text" name="sms_code" class="js-msg-num-p msg-num" placeholder="请输入短信验证码"/>
              <a href="javascript:;" class="js-get-code-p get-code">获取验证码</a>
            </div>
            <div class="js-t-tips t-tips hidden"></div>
            <a href="javascript:;" class="js-sub-p sub">注册</a>
          </form>
        </div>
        <div class="other">我同意《服务条款》和《方寸堂隐私条款》</div>
      </div>
    </div>
    <script src="http://static.geetest.com/static/tools/gt.js"></script>
    <!-- built files will be auto injected -->
    <script>
      let userInfo = {
          'code_url': '',
          'login_url': '',
          'gt_url': 'http://test.pc.fangcun.com/geetest',
          'gt_product': '',
          'gt_lang': '',
          'gt_http': ''
      };
      let config = {
          'code_url': '',
          'login_url': '',
          'gt_url': 'http://test.pc.fangcun.com/geetest',
          'gt_product': '',
          'gt_lang': '',
          'gt_http': ''
      };

    </script>
  </body>
</html>
