<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>index</title>
  </head>
  <body>
    <div class=login-container">
      <div class="header">
        <section class="head">
          <div class="inner">
            <div class="l">
              <a href="javascript:;" class="title">方寸堂，不止不同</a>
              <a href="javascript:;" class="tip">防咋骗公告</a>
            </div>
            <div class="r">
              <a href="javascript:;" class="log">登录</a>
              <a href="javascript:;" class="reg">注册</a>
              <a href="javascript:;" class="ord">我的订单</a>
            </div>
          </div>
        </section>
      </div>
      <section class="main">
        <img src="../../../public/img/auc1.png" class="show-img">
        <div class="log-form">

        </div>
      </section>
	</div>
    <!-- built files will be auto injected -->
  </body>
</html>
