@import "./src/public/css/common";
@import "./src/public/css/header";
@import "./src/public/css/footer";
.shop-container{
  @extend %page;
  .links{
    width: 1400px;
    margin: 16px auto 24px;
    .link{
      display: inline-block;
      font-size: $font-size-t12;
      line-height: 17px;
      color: $color-999;
    }
    .link-r{
      display: inline-block;
      font-size: $font-size-t12;
      line-height: 17px;
      color: $color-151515;
    }
  }
  .detail{
    position: relative;
    width: 1400px;
    margin: 0 auto 50px;
    .photo-swp{
      position: relative;
      width: 500px;
      height: 500px;
      .photo-container{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .l-items{
          display: block;
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }

      }
      .swiper-pagination-bullets{
        bottom: auto;
        left: 100%;
        top: 0;
      }
      .swiper-pagination-bullet{
        position: relative;
        display: inline-block;
        width: 80px;
        height: 80px;
        margin: 0 0 20px 20px;
        border-radius: 0;
        border: 2px solid $color-white;
        opacity: 1;
        outline: none;
        box-shadow: none;
        -webkit-tap-highlight-color:transparent;
        .bu-img{
          width: 100%;
          height: 100%;
        }
      }
      .swiper-pagination-bullet-active{
        outline: none;
        box-shadow: none;
        -webkit-tap-highlight-color:transparent;
        border: 2px solid $color-8B572A;
      }
    }
    .pro-detail{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 736px;
      height: 420px;
      .product{
        width: 70%;
        margin-bottom: 18px;
        .title{
          font-size: $font-size-t30;
          line-height: 30px;
          margin-bottom: 10px;
          .mark{
            display: inline-block;
            width: 60px;
            height: 24px;
            margin-left: 10px;
            line-height: 24px;
            text-align: center;
            background: $color-8B572A;
            color: $color-white;
            font-size: $font-size-t14;
            vertical-align: text-top;
          }
        }
        .vtitle{
          font-size: $font-size-t16;
          line-height: 16px;
          color: $color-999;
          margin-bottom: 15px;
        }
        .esp{
          width: 456px;
          height: 36px;
          line-height: 36px;
          background-color: $color-8B572A;
          color: $color-white;
          margin-bottom: 8px;
          font-size: $font-size-t16;
          .n{
            display: inline-block;
            margin: 0 8px 0 16px;
            font-size: $font-size-t18;
          }
          .p{
            display: inline-block;
            margin-right: 8px;
          }
        }
        .price{
          font-size: $font-size-t30;
          line-height: 30px;
          color: $color-8B572A;
          margin-bottom: 8px;
        }
        .tips{
          margin-bottom: 17px;
          .tip{
            display: inline-block;
            background: url("../../../../public/img/icon_yes.png") no-repeat center left;
            background-size: 14px 14px;
            font-size: $font-size-t14;
            line-height: 14px;
            color: $color-999;
            padding: 0 20px;
          }
        }
        .coupon{
          .get-title{
            display: inline-block;
            font-size: $font-size-t14;
            line-height: 16px;
            color: $color-666;
          }
          .coups{
            position: relative;
            display: inline-block;
            margin-left: 6px;
            font-size: $font-size-t13;
            line-height: 18px;
            height: 16px;
            color: $color-8B572A;
            padding: 0 10px;
            border: 1px solid $color-8B572A;
            &:before{
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              width: 7px;
              height: 90%;
              background-image: -webkit-radial-gradient(circle, $color-white, $color-white 5px, $color-8B572A 5px, $color-8B572A 6px, $color-white);
              background-image: -moz-radial-gradient(circle, $color-white, $color-white 5px, $color-8B572A 5px, $color-8B572A 6px, $color-white);
              background-image: radial-gradient(circle, $color-white, $color-white 5px, $color-8B572A 5px, $color-8B572A 6px,  $color-white);
              background-size: 15px 15px;
              background-position: -8px 0;
            }
            &:after{
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              z-index: 1;
              transform: translateY(-50%);
              width: 2.5px;
              height: 90%;
              background-image: -webkit-radial-gradient(circle, $color-white, $color-white 1px, $color-8B572A 1px, $color-8B572A 2px, $color-white 2px, $color-white);
              background-image: -moz-radial-gradient(circle, $color-white, $color-white 1px, $color-8B572A 1px, $color-8B572A 2px, $color-white 2px, $color-white);
              background-image: radial-gradient(circle, $color-white, $color-white 1px, $color-8B572A 1px, $color-8B572A 2px, $color-white 2px, $color-white);
              background-size: 5px 5px;
            }
          }
          .get-link{
            display: inline-block;
            margin-left: 10px;
            font-size: $font-size-t14;
            line-height: 16px;
            color: $color-8B572A;
          }
        }
      }
      .pro-qrcode{
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        width: 203px;
        img{
          position: absolute;
          left: 0;
          top: 0;
          width: 120px;
          height: 120px;
        }
        .nums-n{
          font-size: $font-size-t30;
          line-height: 30px;
          color: $color-8B572A;
          margin-bottom: 8px;
        }
        .nums-t{
          font-size: $font-size-t16;
          line-height: 16px;
          color: $color-999;
        }
      }
      .pro-info{
        width: calc(100% - 40px);
        height: 80px;
        background: $color-fafafa;
        padding: 24px 20px;
        line-height: 16px;
        font-size: $font-size-t16;
        margin-bottom: 26px;
        .line{
          margin-bottom: 16px;
        }
        .r{
          display: inline-block;
          width: 238px;
          .l{
            color: $color-666;
            margin-right: 8px;
          }
        }
      }
      .choose-num{
        position: relative;
        width: 250px;
        height: 40px;
        margin-bottom: 20px;
        .txt{
          float: left;
          display: inline-block;
          width: 28px;
          text-align: center;
          font-size: $font-size-t14;
          color: $color-363738;
          height: 40px;
          line-height: 40px;
          margin-right: 10px;
        }
        .inp{
          float: left;
          width: 145px;
          height: 38px;
          line-height: 40px;
          border: 1px solid rgba(54,55,56,0.20);
          background: transparent;
          padding: 0 49px 0 16px;
        }
        .change-num{
          position: absolute;
          right: 0;
          top: 0;
          width: 32px;
          height: 40px;
          border-left: 1px solid rgba(54,55,56,0.20);
          .add{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 32px;
            height: 20px;
            background: url("../../../../public/img/n_add.png") no-repeat center center;
            background-size: 5px 4px;
          }
          .minus{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 32px;
            height: 20px;
            background: url("../../../../public/img/n_minus.png") no-repeat center center;
            background-size: 5px 4px;
          }
        }
      }
      .sub{
        .buy{
          @include wei-bg-btn(250px, 44px, $font-size-t14, $color-white, $color-333, $color-333, 0);
          margin-right: 10px;
          text-align: center;
        }
        .cart{
          @include wei-bg-btn(250px, 44px, $font-size-t14, $color-333, $color-white, $color-333, 0);
          margin-right: 10px;
          background: url("../../../../public/img/shop_cart.png") no-repeat 77px center;
          background-size: 17px 17px;
          text-indent: 102px;
        }
        .fav{
          @include wei-bg-btn(100px, 44px, $font-size-t14, $color-333, $color-white, $color-333, 0);
          background: url("../../../../public/img/shop_fav.png") no-repeat 25px center;
          background-size: 13px 13px;
          text-indent: 46px;
        }
      }
    }
  }
  .main{
    position: relative;
    width: 1400px;
    margin: 0 auto 50px;
    .left{
      float: left;
      width: 380px;
      margin-right: 20px;
      .hot{
        width: 100%;
        margin-bottom: 42px;
        .title{
          width: 100%;
          color: $color-333;
          font-size: $font-size-t26;
          line-height: 60px;
          border-bottom: 1px solid $color-eee;
          margin-bottom: 25px;
        }
        .hot-item{
          position: relative;
          display: block;
          width: 100%;
          margin-bottom: 24px;
          img{
            width: 120px;
            height: 120px;
          }
          .info{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: block;
            width: 239px;
            .t{
              display: block;
              font-size: $font-size-t16;
              line-height: 22px;
              margin-bottom: 10px;
            }
            .v{
              display: block;
              font-size: $font-size-t16;
              line-height: 22px;
              color: $color-999;
            }
          }
        }
      }
      .art{
        width: 100%;
        margin-bottom: 42px;
        .title{
          width: 100%;
          color: $color-333;
          font-size: $font-size-t26;
          line-height: 60px;
          border-bottom: 1px solid $color-eee;
          margin-bottom: 25px;
        }
        .art-item{
          position: relative;
          display: block;
          width: 100%;
          margin-bottom: 24px;
          img{
            width: 120px;
            height: 120px;
          }
          .info{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: block;
            width: 239px;
            .t{
              display: block;
              font-size: $font-size-t16;
              line-height: 22px;
              margin-bottom: 10px;
            }
            .v{
              display: block;
              font-size: $font-size-t16;
              line-height: 22px;
              color: $color-999;
            }
          }
        }
      }
    }
    .right{
      float: left;
      width: 1000px;
      .tabs{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .tab{
          -moz-box-flex: 1.0; /* Firefox */
          -webkit-box-flex: 1.0; /* Safari 和 Chrome */
          box-flex: 1.0;
          width: 20%;
          height: 60px;
          .link{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            line-height: 60px;
            text-align: center;
            font-size: $font-size-t20;
            color: $color-999;
            background-color: $color-f3f3f3;
          }
        }
        .tab.chosen{
          .link{
            color: $color-333;
            background-color: $color-white;
            &:before{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 4px;
              background-color: $color-333;
            }
          }
        }
      }
    }
  }
  .pop-coupon{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    .coupon-container{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      width: 730px;
      padding: 0 20px;
      background-color: white;
      border-radius: 5px;
      .title{
        position: relative;
        width: 100%;
        height: 54px;
        line-height: 54px;
        color: $color-333;
        font-size: $font-size-t18;
        border-bottom: 1px solid $color-e7e8e8;
        font-weight: bold;
        .close{
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 18px;
          height: 19px;
          background: url("../../../../public/img/close.png") no-repeat center right;
          background-size: 18px 19px;
        }
      }
      .c-list{
        margin-top: 28px;
        margin-bottom: 11px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .c-item {
          position: relative;
          -moz-box-flex: 1.0; /* Firefox */
          -webkit-box-flex: 1.0; /* Safari 和 Chrome */
          box-flex: 1.0;
          width: 350px;
          height: 100px;
          margin-bottom: 20px;
          background-color: $color-C99F4F;
          &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 7px;
            height: 90%;
            background-image: -webkit-radial-gradient(circle, $color-white, $color-white 5px, $color-C99F4F 6px, $color-C99F4F);
            background-image: -moz-radial-gradient(circle, $color-white, $color-white 5px, $color-C99F4F 6px, $color-C99F4F);
            background-image: radial-gradient(circle, $color-white, $color-white 5px, $color-C99F4F 6px,  $color-C99F4F);
            background-size: 15px 15px;
            background-position: -8px 0;
          }
          &:after{
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 7px;
            height: 90%;
            background-image: -webkit-radial-gradient(circle, $color-white, $color-white 5px, $color-C99F4F 6px, $color-C99F4F);
            background-image: -moz-radial-gradient(circle, $color-white, $color-white 5px, $color-C99F4F 6px, $color-C99F4F);
            background-image: radial-gradient(circle, $color-white, $color-white 5px, $color-C99F4F 6px,  $color-C99F4F);
            background-size: 15px 15px;
          }
          .t{
            margin: 14px 0 2px 24px;
            font-size: $font-size-t24;
            line-height: 24px;
            color: $color-white;
            letter-spacing: 0;
          }
          .i{
            margin: 0 0 10px 24px;
            font-size: $font-size-t14;
            line-height: 20px;
            color: rgba(255,255,255,0.70);
            letter-spacing: 0;
          }
          .d{
            margin: 0 0 0 24px;
            font-size: $font-size-t14;
            line-height: 20px;
            color: $color-white;
            letter-spacing: 0;
          }
          .s{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 100%;
            text-align: center;
            &:after{
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 1px;
              height: 70px;
              background-color: $color-white;
              opacity: .5;
            }
            .text{
              display: inline-block;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-size: $font-size-t14;
              color: $color-white;
              width: 14px;
              line-height: 20px;
              opacity: .9;
            }
          }
        }
        .c-item.got{
          background-color: $color-999;
          &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 7px;
            height: 90%;
            background-image: -webkit-radial-gradient(circle, $color-white, $color-white 5px, $color-999 6px, $color-999);
            background-image: -moz-radial-gradient(circle, $color-white, $color-white 5px, $color-999 6px, $color-999);
            background-image: radial-gradient(circle, $color-white, $color-white 5px, $color-999 6px,  $color-999);
            background-size: 15px 15px;
            background-position: -8px 0;
          }
          &:after{
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 7px;
            height: 90%;
            background-image: -webkit-radial-gradient(circle, $color-white, $color-white 5px, $color-999 6px, $color-999);
            background-image: -moz-radial-gradient(circle, $color-white, $color-white 5px, $color-999 6px, $color-999);
            background-image: radial-gradient(circle, $color-white, $color-white 5px, $color-999 6px,  $color-999);
            background-size: 15px 15px;
          }
        }
      }
    }
  }
  .pop-coupon.show{
    display: block;
  }
}