@import "./src/public/css/common";
@import "./src/public/css/header";
@import "./src/public/css/footer";
.shop-container{
  @extend %page;
  .links{
    width: 1400px;
    margin: 16px auto 24px;
    .link{
      display: inline-block;
      font-size: $font-size-t12;
      line-height: 17px;
      color: $color-999;
    }
    .link-r{
      display: inline-block;
      font-size: $font-size-t12;
      line-height: 17px;
      color: $color-151515;
    }
  }
  .detail{
    position: relative;
    width: 1400px;
    margin: 0 auto 50px;
    .photo-swp{
      position: relative;
      width: 500px;
      height: 500px;
      .photo-container{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .l-items{
          display: block;
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }

      }
      .swiper-pagination-bullets{
        bottom: auto;
        left: 100%;
        top: 0;
      }
      .swiper-pagination-bullet{
        position: relative;
        display: inline-block;
        width: 80px;
        height: 80px;
        margin: 0 0 20px 20px;
        border-radius: 0;
        border: 2px solid $color-white;
        opacity: 1;
        outline: none;
        box-shadow: none;
        -webkit-tap-highlight-color:transparent;
        .bu-img{
          width: 100%;
          height: 100%;
        }
      }
      .swiper-pagination-bullet-active{
        outline: none;
        box-shadow: none;
        -webkit-tap-highlight-color:transparent;
        border: 2px solid $color-8B572A;
      }
    }
    .pro-detail{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 736px;
      height: 420px;
      .product{
        width: 50%;
        margin-bottom: 24px;
        .title{
          font-size: $font-size-t30;
          line-height: 30px;
          margin-bottom: 10px;
          .mark{
            display: inline-block;
            width: 60px;
            height: 24px;
            margin-left: 10px;
            line-height: 24px;
            text-align: center;
            background: $color-8B572A;
            color: $color-white;
            font-size: $font-size-t14;
            vertical-align: text-top;
          }
        }
        .vtitle{
          font-size: $font-size-t16;
          line-height: 16px;
          color: $color-999;
          margin-bottom: 30px;
        }
        .price{
          font-size: $font-size-t30;
          line-height: 30px;
          color: $color-8B572A;
          margin-bottom: 8px;
        }
        .tips{
          .tip{
            display: inline-block;
            background: url("../../../../public/img/icon_yes.png") no-repeat center left;
            background-size: 14px 14px;
            font-size: $font-size-t14;
            line-height: 14px;
            color: $color-999;
            padding: 0 20px;
          }
        }
      }
      .pro-qrcode{
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        width: 203px;
        img{
          position: absolute;
          left: 0;
          top: 0;
          width: 120px;
          height: 120px;
        }
        .nums-n{
          font-size: $font-size-t30;
          line-height: 30px;
          color: $color-8B572A;
          margin-bottom: 8px;
        }
        .nums-t{
          font-size: $font-size-t16;
          line-height: 16px;
          color: $color-999;
        }
      }
      .pro-info{
        width: calc(100% - 40px);
        height: 80px;
        background: $color-fafafa;
        padding: 24px 20px;
        line-height: 16px;
        font-size: $font-size-t16;
        margin-bottom: 26px;
        .line{
          margin-bottom: 16px;
        }
        .r{
          display: inline-block;
          width: 238px;
          .l{
            color: $color-666;
            margin-right: 8px;
          }
        }
      }
      .choose-num{
        position: relative;
        width: 250px;
        height: 40px;
        margin-bottom: 20px;
        .txt{
          float: left;
          display: inline-block;
          width: 28px;
          text-align: center;
          font-size: $font-size-t14;
          color: $color-363738;
          height: 40px;
          line-height: 40px;
          margin-right: 10px;
        }
        .inp{
          float: left;
          width: 145px;
          height: 38px;
          line-height: 40px;
          border: 1px solid rgba(54,55,56,0.20);
          background: transparent;
          padding: 0 49px 0 16px;
        }
        .change-num{
          position: absolute;
          right: 0;
          top: 0;
          width: 32px;
          height: 40px;
          border-left: 1px solid rgba(54,55,56,0.20);
          .add{
            position: absolute;
            top: 8px;
            left: 50%;
            transform: translateX(-50%);
            width: 5px;
            height: 4px;
            background: url("../../../../public/img/n_add.png") no-repeat center center;
            background-size: 5px 4px;
          }
          .minus{
            position: absolute;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
            width: 5px;
            height: 4px;
            background: url("../../../../public/img/n_minus.png") no-repeat center center;
            background-size: 5px 4px;
          }
        }
      }
      .sub{
        .buy{
          @include wei-bg-btn(250px, 44px, $font-size-t14, $color-white, $color-333, $color-333, 0);
          margin-right: 10px;
          text-align: center;
        }
        .cart{
          @include wei-bg-btn(250px, 44px, $font-size-t14, $color-333, $color-white, $color-333, 0);
          margin-right: 10px;
          background: url("../../../../public/img/shop_cart.png") no-repeat 77px center;
          background-size: 17px 17px;
          text-indent: 102px;
        }
        .fav{
          @include wei-bg-btn(100px, 44px, $font-size-t14, $color-333, $color-white, $color-333, 0);
          background: url("../../../../public/img/shop_fav.png") no-repeat 25px center;
          background-size: 13px 13px;
          text-indent: 46px;
        }
      }
    }
  }
}