<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>index</title>
  </head>
  <body>
    <div class="shop-container">
      <div class="header">
        <section class="head">
          <div class="inner">
            <div class="l">
              <a href="javascript:;" class="title">方寸堂，不止不同</a>
              <a href="javascript:;" class="tip">防咋骗公告</a>
            </div>
            <div class="r">
              <a href="javascript:;" class="log">登录</a>
              <a href="javascript:;" class="reg">注册</a>
              <a href="javascript:;" class="ord">我的订单</a>
            </div>
          </div>
        </section>
        <section class="logo">
          <div class="search-container">
            <input type="text" class="search" placeholder="宝贝名称 守艺人名字 壶型">
            <a href="javascript:;" class="sub">&nbsp;</a>
            <p></p>
          </div>
        </section>
        <ul class="tabs">
          <li class="items chosen">
            <a href="javascript:;" class="l">首页</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">紫砂商城</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">紫砂艺人</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">紫砂拍卖</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">线下门店</a>
          </li>
          <li class="items">
            <a href="javascript:;" class="l">关于品牌</a>
          </li>
        </ul>
      </div>
      <section class="links">
        <a href="javascript:;" class="link">首页</a>&nbsp;&gt;&nbsp;<a href="javascript:;" class="link">圆器</a>&nbsp;&gt;&nbsp;<a href="javascript:;" class="link-r">圣珠提梁</a>
      </section>
      <section class="detail">
        <div class="photo-swp">
          <div class="photo-container">
            <div class="js-pics swiper-wrapper">
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/test4.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/test5.png" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/test6.png" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/test5.png" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:;" class="l-items">
                  <img src="../../../public/img/test4.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="pro-detail">
          <div class="product">
            <div class="title">圣珠提梁<span class="mark">爆款</span></div>
            <div class="vtitle">茶已熟，雨正濛。有佳器，能修德。</div>
            <div class="esp">
              <span class="n">限时购</span><span class="p">低至<small>¥</small>13800.00</span><span class="js-counttime c" data-timenum="300000">距离开抢：<span class="js-d num">00</span>天<span class="js-h num">00</span>时<span class="js-m num">00</span>分<span class="js-s num">00</span>秒</span>
            </div>
            <div class="price"><small>¥</small>15800.00</div>
            <div class="tips"><span class="tip">原人手制</span><span class="tip">限量发行</span><span class="tip">永久保值换购</span></div>
            <div class="coupon">
              <span class="get-title">领劵</span><span class="coups">每满199元减29</span><span class="coups">每满499元减99</span><span class="coups">每满999元减199</span><a href="javascript:;" class="get-link">立即领取&gt;</a>
            </div>
          </div>
          <div class="pro-qrcode">
            <img src="../../../public/img/qrcode.png">
            <div class="nums-n">1234</div>
            <div class="nums-t">人关注</div>
          </div>
          <div class="pro-info">
            <div class="line">
              <span class="r"><span class="l">作者</span>许嘉年</span><span class="r"><span class="l">泥料</span>原矿紫泥</span>
            </div>
            <div class="line">
              <span class="r"><span class="l">壶型</span>圆器 周盘</span><span class="r"><span class="l">容量</span>320CC</span>
            </div>
            <div>
              <span class="r"><span class="l">库存</span>有货</span><span class="r"><span class="l">编号</span>F1810513</span>
            </div>
          </div>
          <div class="choose-num clearfix">
            <span class="txt">数量</span>
            <input type="text" name="points" class="js-inp inp"/>
            <div class="change-num">
              <a href="javascript:;" class="js-add add">&nbsp;</a>
              <a href="javascript:;" class="js-minus minus">&nbsp;</a>
            </div>
          </div>
          <div class="sub">
            <a href="javascript:;" class="buy">立即购买</a>
            <a href="javascript:;" class="cart">加入购物车</a>
            <a href="javascript:;" class="fav">收藏</a>
          </div>
        </div>
      </section>
      <section class="main clearfix">
        <div class="left">
          <div class="hot">
            <div class="title">24小时热销榜</div>
            <a href="javascript:;" class="hot-item">
              <img src="../../../public/img/test5.png">
              <span class="info">
                <span class="t">《主慕古子冶》夏惠清</span>
                <span class="v">副标题壶的特点制作特色卖点等一行最佳</span>
              </span>
            </a>
            <a href="javascript:;" class="hot-item">
              <img src="../../../public/img/test5.png">
              <span class="info">
                <span class="t">《主慕古子冶》夏惠清</span>
                <span class="v">副标题壶的特点制作特色卖点等一行最佳</span>
              </span>
            </a>
            <a href="javascript:;" class="hot-item">
              <img src="../../../public/img/test5.png">
              <span class="info">
                <span class="t">《主慕古子冶》夏惠清</span>
                <span class="v">副标题壶的特点制作特色卖点等一行最佳</span>
              </span>
            </a>
          </div>
          <div class="art">
            <div class="title">守艺人</div>
            <a href="javascript:;" class="art-item">
              <img src="../../../public/img/test5.png">
              <span class="info">
                <span class="t">惠榕</span>
                <span class="v">实力派中青年优秀陶艺家</span>
              </span>
            </a>
            <a href="javascript:;" class="art-item">
              <img src="../../../public/img/test5.png">
              <span class="info">
                <span class="t">惠榕</span>
                <span class="v">实力派中青年优秀陶艺家</span>
              </span>
            </a>
            <a href="javascript:;" class="art-item">
              <img src="../../../public/img/test5.png">
              <span class="info">
                <span class="t">惠榕</span>
                <span class="v">实力派中青年优秀陶艺家</span>
              </span>
            </a>
            <a href="javascript:;" class="art-item">
              <img src="../../../public/img/test5.png">
              <span class="info">
                <span class="t">惠榕</span>
                <span class="v">实力派中青年优秀陶艺家</span>
              </span>
            </a>
            <a href="javascript:;" class="art-item">
              <img src="../../../public/img/test5.png">
              <span class="info">
                <span class="t">惠榕</span>
                <span class="v">实力派中青年优秀陶艺家</span>
              </span>
            </a>
            <a href="javascript:;" class="art-item">
              <img src="../../../public/img/test5.png">
              <span class="info">
                <span class="t">惠榕</span>
                <span class="v">实力派中青年优秀陶艺家</span>
              </span>
            </a>
          </div>
        </div>
        <div class="right">
          <ul class="js-tabs tabs">
            <li class="js-tab tab chosen">
              <a href="javascript:;" class="link">概览</a>
            </li>
            <li class="js-tab tab">
              <a href="javascript:;" class="link">作者</a>
            </li>
            <li class="js-tab tab">
              <a href="javascript:;" class="link">泥料</a>
            </li>
            <li class="js-tab tab">
              <a href="javascript:;" class="link">售后保障</a>
            </li>
            <li class="js-tab tab">
              <a href="javascript:;" class="link">评论</a>
            </li>
          </ul>
        </div>
      </section>
      <footer class="footer">
        <div class="top">
          <div class="inner">
            <div class="its l"><span class="text">原创+限量</span></div>
            <div class="its c"><span class="text">标价+规范</span></div>
            <div class="its r"><span class="text">保值+受益</span></div>
          </div>
        </div>
        <div class="bottom">
          <div class="inner">
            <div class="its">
              <p class="copyright">
                Copyright&nbsp&copy;&nbsp;2018&nbsp;宜兴方寸堂文化传媒有限公司版权所有</p>
              <p class="copyright-b">苏公安备32028202000436号&nbsp;苏ICP备14043090号-4</p>
              <p class="copyright-b">联系电话：<a href="tel:051087410606" class="call">0510-87410606</a></p>
            </div>
            <div class="its">
              <p class="shop">门店</p>
              <p class="addrs">宜兴市丁蜀镇陶瓷城E区2834号</p>
              <p class="addrs">上海市闵行区北松公路58号</p>
              <p class="addrs">西安市莲湖区西市中路西市佳园7号楼10105号</p>
            </div>
            <div class="its">
              <div class="qrcode">扫一扫关注我们</div>
            </div>
          </div>
        </div>
      </footer>
	</div>
    <!-- built files will be auto injected -->
  <script>
      // import ajax from '../../../public/js/ajax';
      // ajax.ajaxGet();
    let config = {
        pics: [
            '../../../public/img/test4.jpg',
            '../../../public/img/test5.png',
            '../../../public/img/test6.png',
            '../../../public/img/test5.png',
            '../../../public/img/test4.jpg'
        ]
    };

  </script>
  </body>
</html>
